{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Triacs </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3055"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="200"
   height="200"
   sodipodi:docname="bta12-600-triac-12a600v-x-10-unidades-13654-MLA137068374_2626-O.jpg">
  <metadata
     id="metadata3061">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3059" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview3057"
     showgrid="false"
     inkscape:zoom="0.59"
     inkscape:cx="194.5"
     inkscape:cy="200"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg3055" />
  <image
     width="260.18643"
     height="266.10168"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAGQAYUDASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD34UUC
jvQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFF
FABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQACigUUAFFFFABRRRQAUUU
UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAHaiiigAooooAKKKKACiiigAooo
oAKKKKACiiigAooooAKKKKACiiigAooooAKKKKADtRR2ooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiii
gAooooAKKKKACiiigAooooAO1FLSUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRVK61G3
teGfc/8AdHJ/H0oAu0Vh2/iS0kkKTgxc4V+qn6kdPx4962o5ElQOjBlPQg5BoAdRR2oNABRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAAoo7UUAF
FFFABRRRQAUUUUAFFFFABRRQaACiiq9xdw2wzK4BPAUck/hQBPVW6v4LQYkfL44Qck/hWTdavLNl
Yv3Sev8AEfx7VmOSxJLZJ7k5JoAu3mrzzkoh8qM+h5I9z/hWY5JBHUHrSnnk8ZpBjGDwaBlbyiGO
DkdxinwT3Ni2bWZ4znleqn6g8VOOD6YFNYA9RnPvQBs2fiRHCreJsYsF3pyCScZI7D1PauiBBHY1
wYhQggLnOc/Suj0O/aaI2sx/fRfdJ6svY/UdDQI2aKKKACiiigAooooAKKKKACiiigAooooAKKKK
ACiiigAooooAKKKKACiiigAooooAKKKKACiiigBaSlpKACiiigAooooAKKKKACiioZp4oE3yuFA9
f6UATVBPcw2ybpXCg9B3P0FZN1rTuNtsuwH+Nhz+ArJkdnfc7FnPUk5NAGpdazK+VgXy1zjceWI9
h2rMZ2JZmc5+8WY9AOpJ7UignC55JGK4TXL/AFHxLqj6Jo6NJCjFXKdJCDySewB49+vpQBs33jPS
LOQrG0l44OCIsBf++jx+QNUV8fWrsQdMlCkdROMg/lWlpXwjiCB9WvmZsZMcAwB7EnrW4Phd4dC4
CTg+vmHNA9DKsPEOmaiVSKZoZSPuTgAE+gPQmtFkYZBBB7giszUPhe0AaXSrwt38qYdfYEU/Rp7o
M2makjLcRD92znnAHIJ7+xoAv8ev6UZ5PfHTApdpyeD+NKFPfgjpQA9ATxwPXFKrPDIs8efNjOV5
wD7H2NNUY6Dk96kwDyT2xQB1Npcx3dsk8f3WGcdwe4PuKs1zGmXJsrvYSfInYAj+63Y/Q8A/hXTi
gQUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUALSUUU
AFFFFABRRRQAUUUUAV7x3is5XjIDqpIOM81yDXcs8gaUl2P8ROcfT0/Cuu1A40+4I7If5VxMWSwO
cnFAFnd3yT2pDknJANKe54z7UgBJJBxQMr6lK8Ok3ckJIkWJipHUHBxitfwVoEOiaFA+wfarhBJK
5HOSMgfQZrMuIjLayxgjLKQM+tdbpcyz6ZbOOojAI9CBgj9KAL1FFFAgrF13TEuYlukUCeAhlYdS
M8g1tVXu2VbVycYI796AOVlAEjgZ5PFRAEk5yKmcZcnGAT2puAcA9R1oGIRzgnj1qRI88g8j3oCF
+AMk9sZzVTUNXsNK/wCPmQPMOVhjOWJ9+w/GgRo+V5g24JyOecY/Gon8baTpM0Nle3DvIXEZmRS6
ICCQXboOmCeeevrXnmu+N550eNZTbQnOEjOCR/tHqfoOK4W+1uWWIwwHEZGCxGc/hTSGfVEbpIiu
jBlYAgg5BB6YNSV4j8G/Gs0Ux8K6pcFsgtp8jnsOsWfbqB6Aj0r20HIFDVhC0UUUgCiiigAooooA
KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAKuonGm3
J9I26/SuNgXBHuK7S9QS2M6EZDRsP0NchCqGJJEOUcZBxgj1BoAXGDxxg0dTkEU7APYA0mO2OlAC
gY4PWrlhePZSHaN0Lcso6g+oqmBk8n86kGOvQegoGdRBdwXK5jkB9QTgj6irGfcVyiAAkg4J/CrH
muq4Dtj1J4oEb8k8cQyzAe2axr+8Nx8qcIDVVgz4JJbueagvbm006ETXs6QoeFBPzOeuAOpNAAFJ
YAg57fWq99fWmlx+ZdzBCQSsYILtj0H9TxXL6n43aUvFp2IEAIDuMuwx1HZSPxP0rgr/AMQgTEsz
TSEfMS2ST7k55ppXHY7jVfFtzPG8Vifs0QGWYZLkHuW/h+grgb7XlWZliYzE8lzkgn696xbzUri9
BSV2CEg7FOAcdM46/jVQknAJxjoBTSBsmnuZLhyzsWJJOOgHsBUOdo9TRjIB6D1pAATkniqEPRpY
poZ7aUxXEDiWKQdVYHINfTngXxZB4v8ADcN8MJdJ+6uosjKSDr+B6j2NfMByig8bieMV0XgPxa/g
zxIt47FtOu8R3kY7DPDj3Un8QTUtXA+paKjilSWNJI2DI4DKw6EEcEfhUlSAUUUUAFFFFABRRRQA
UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAEZ4IyK5G6tDp
mqtB/wAul0S0PHCv3X/D247V11UNTsV1GwkgJ2ueY3HVWHQj8f0oA50qQxBByOCKTaPfmm2Mz3dr
IJ1CXds5jnX3HRh7EVPs5HU0AMC9utPUA9hjt9aVQNwz34ApzFIo3kkZUjUZLMcAD6mgBwHygntx
k0XE0NrA01zMkUQ/ic4B9h6mub1bxlBaREaagnlP/LSQEKPcDqfxwPrXnWseKZrucSXc7zzYxjI+
UdgB0FNK47dzu9V8dKD5Okx9Rj7RIAc8fwr/AFP5V5/qfiJp7gme4knmOS5YkkHpj2/CsF7+5vZh
DCrbj0VCfzJ7U640z7JZPPdTqJmXMaqcjOemTyT9KTaTs2NJ2uQXeoz3LAFgqAnATI4Przyapkkm
jJOMn8qQnA7CrsSHTtSYPXvSgg5PcetLyxyCABTAbnPAFIpOMHtTgCOcU3qc+nWgAYZUAdfWmYUq
UKjbjBzUu8BSQOegGKjbIOSO2RkcGgD2r4K+MJby0k8LXzFprJDJaSE5LQ5wVJ9VJAHsQO1ewV8q
/D/UzpfxB0CcAqkkxt5ApOGDgqCR6AkHHtX1T3qGAtFFFIAooooAKKKKACiiigAooooAKKKKACii
igAooooAKKKKACiiigAooooAO1FHaigAooooAKKKKACiiigAooooA5XxFbHTdRh16BCY1Hl3qKOW
jPRsdyP5fSpCqEK8bq8cgDI4OQQRkEV0UkaTRtHIoZHBVlPIIPBBrhTeDwpdy6XepM9kcy2ciDcQ
vdMdTg/55oATWPENvpEzQCJpLhVDNkgLGD0J7n8PzrzzW/GLSSlbu8Mz4wkUY4Uj0A6fU0zxDqKa
rrV3fQs4jkbCA9doAAz+Wa43UoFguRdAjExxIAOjeuffr25ppD9CW91u7uXGxzDGRjapyT9T/hVS
ziS7vY4ZWYKx52nk+2TVZx83SljlMM0coyCjBgR6A8/pVPZ2Bbq50UMjjzYtJtljgjJBkddxYrwQ
B3x6mmW1pELu8hndpphtcSOcsyMOnoMHPp0qabT4R5lzFcy2iyDcXWQhCcc5B4Oay1v8PbXLMBJ5
JhfYMZAOQcfSuZXZu3Yz8FC6H7ysVPvg4pvOOCfepLhhLdPMuQGOcE9+9M+veulXsrmDtfQTGOcn
3pfYdx1NAx3zihiR1IpiGtycHk0YJwo4BNJyeTS5OOQcnoaAEZSOAM/0pGLNhQSxA4NSKCzdQOOS
PSmfMDhcEjrzQBRnuXtXjkVissTh0I4IIIII/Kvr3wxrdt4j8OWOq2sm+OeIEk9Q3Qgjscg18mzW
y3SkMuCRjI4rufhX4zXwPc3GnarJJ/Y1xmRGRC5ikwATgAkggc46ECpaYH0lRXK6D8QvDXibUHsN
JvzLcqnmeW8MkZKg4JG4DNdUKkAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAo
oooAWkoooAKKKKACiiigAooooAKKKKAA81ka/o8Wr2O0r/pER3wtnBDemfQ9K16TGaAPmAJPFLfi
4Z98d7PHh12kKrkDIHTgCoZtsqFHA2sMHFeufErwus1u2uWcf7yIf6Ug/iQfxj3Hf1H0ryNjjIGC
OoI700MwZgYp3hOflPBPcdjUZAIPoetaV7CJU3qg8wHOR1x3H9azgQRkZwfaqWwWJJZZbpUWeZ3E
SgRqTwAPQevvTOnB/lTT/wDqpw56nIoSS2BtvcODk4oxx70Drz0p2RzgDHamITk8YIzwRTcHn0H6
U7qcnnuOaTAOTg89qAG4LdBxTgeAScYOMUzc20fKMDjAp5QgjcMZ5FACrgLgDHrQAADyMEcmkHBB
655FLn5SOxoAUvg4HboaTeWIJPIOQaaTnkngUA9+1AFi1vbvT7y31LTpjDeWriSJx0z3B9QehHcG
vqDwl4ltfFmgQananaW+WaInJikHVT9Ox7gg18tRA5JHQV2Pww8TS6J44t7NWAstTIgmQnADgEo/
seo9wfpUyQH0nRRRUgFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUYooAKKKKACiii
gAooooAKKKKACiiigAooooAjdFlRkdQyEEEEZBB6givn7xn4abwzr0tugIsZ8yWrE5wO6fUE4Hti
voWuc8Y+G4/E2gy2Ywtyh8y3kPG1wOOfQ5IP1oBHzwwyBnIx3xWHfyw2t0V3BQw3BSD39K6CVJYp
HimUpJGxSRCOVYHBH5iuP8SuRqcYzx5Yx+dUnYZaE6ScKwJHYGpFOW9BWDBIQwIOD61vRA3Nq0xI
HkgF8cZBOAQO/PX6immIfyTgdc8Uu0EkHnHamLg4I59c0oyMk9emaYCHgZGQPWgBmyckgc0pAIII
J9qBkc847gUDM69u3WVoYXxt+8wHeo7e4nRgTM0gzkq5zn8adcWjJI7rghjkY56061tJZcgDJPAG
e9KwGkSuQQCFbkewozkcAkA8GnNE8e1OCVUAmkKhCGclRjOM9aYhGU5BPHTpTZXjQfOfm7Adahmu
jLIsMKkuT8qgEsfoBWnYeEtRu1M1yRaQjqXGXOfRePzJpNjMo3LEFV6UQPdRSx3duCJbaRZlboAV
IIOenar7aKdOmKXREwPKkAqGGe4Pv1FbGmaJqXiJnsdHsmuJTlCwG2GLIPLt0GPTkn0pAfUFnOLq
yguAMCWNZAPQEA/1qxVXT4Xt9NtYJCrPFCqMV6EgAEj8RVqpEFFFFABRRRQAUUUUAFFFFABRRRQA
UUUUAFFFFAB2ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACk7UtFAHkHxV8LGC5/4SK0
jJikIS9A/hOAFfHvwD+HrXgXihiNZIxjEa4H4V9p3lpBf2c1pcoJIJkKSIRwQRg18weOfB02kahe
WDxF7iE+bbzkDNxFgY/EAYI7Ee4JaGecRSHPWum0SXEc5IJRoWVhkcg44/MA/hXOIFBBkUkA/MBw
QO9dSLJdMd0hd5Le4+aCRwAzR8HJAJAPIGPamAwZCjI5x1pccZ7UpOTnr2pAPXmqEL74yTTSMAY6
08Y5LYIx+VNAB5JAA4yTxQMbkBzkgDHA61dh8qOHLFEAwTxjNUJblIz+7UMQeWI4rR0LQ9T8QyFr
W1aSIHDSudqLyM89yM9ADSbsIrXd+hAW2iwR1d+v0A/rWU905ySSx6Dua9Z0b4cadCRNqr/b5weI
wCsK89cDlj9T+Fcb4p8LNoPiJra1gkktbrL2qRqWY56oAMkkH9CKVwH/AA2uba28QSR31lA73O1Y
ZpQSYyDyAR03dPyr1OSzhF0x8sAliQh/h9q5fwp8I9b1C4t73VnOk2qkOIVIM7gcjPUL+OT14rvN
Q0ufTZdsztIpJCTN1cZ4yfXGM++aTYzIudE0fW7i1XWYXMETnc0blDgjGCRztPGQD2r1DT7Gx0+y
jt9Pt4YLZVGxIlAUDtjH868/QK0blwCBwMjrXS+GdRBT7BIwygzCT3Hp9R/L6UhHT0UUUAFFFFAB
RRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFF
FFABXH+P/C6+ItFMlumdQtQZIMcFxjlCfQjp7gV2FBoA+LvEumNYXzuEKhyQyf3W6EH3z+tbQtVi
sIYAMmOMYPocZP8AOvTfit4RjgvU1SGICyunHnqB92UHIP0bA/Ee9cFMCxJ6nOfeqTGYB3knK4IO
KljRmAGB1ySeBU+qARTJKAQXHI7Eisi5umKlScL1AHSncC3LPFETsIkOOQOmfrVMG6vpDFBDJPIT
gRwKWPsMCuj8AeG9H8Rm8n1G9mMlrgrZKNomHuw5A4/+vXq1tbWVpZpBYabBYxLyFhGCT3JY8k/W
k2B8/NFMu9ZAYipKlHBDAjgjHXOa6XwP4lbwpqoE5LafdOqyknHl5ONwH5ZHsPSus174c32veLEk
0QQQw3qBpmuJcCKQcMQOrZGDge9ej+E/hL4f8NtHdXCnVNQXkT3Kjap9UToPYnJ96TYCTSxgK8ZD
IwBUqcgg8gj1FJa3r2t5DdBFZoycAgcgjBAPb6+1XPENk1rqJkVAsM5yhHQNjkEep6/nWVklemcG
kB6HZ3cV7ax3ER+RxnGeQe4P0qLVbFdQsJICQH6oxHRh0P07H2zXM+HNQNldeRIwFvMcDJ+63Y/Q
9PyrtKBHmTh42aJwVdSQwPYg4NTxkwtG6MUlUhlPoR0rY8VaYUlW/iHyMQsvsegP49D+FYLOGZcA
8cc0DO/0vUE1GzWZcBxw6/3WHUVerkPDrtHqeyNiUkU+YgGRkdD7en4119AgooooAKKKKACiiigA
ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAKO
pafb6rp89jdJvhmUqw7jPQj0IPIPtXzrq+lXOi6tcabdlTNC33wMBlPIYZ7Ef1r6YrgfiZ4Z/tXT
Bqtsn+l2anfgZMkXUj8OSPxppgeC62GcW6IpzhmJIwMdOvp7VhTQAsCDuPfA4FdJLFNrGoJY6dBP
eXAAAhhUknPOT6DnqcCu+8OfBG5uFSfxJd+QhAY2Vq2WwR0d8YBz1C56cE07jbPNfBk9/Y+LLWbS
bOe9lBMdxDChO6JuGBPQccgnvivbVRFJEbFkI3RnuQex9x0PuK7vRtB0vw9ZJZ6VYQ2sKjGI1wW9
yepPuSTWRreix25+02y7FZizAdAx64HYH09aTYHOx5WRWVmV1YMrA8giu60fUxqVqWIxNGQsg98Z
yPrXD5XkAZJPr0rS0TUv7OuzvJ8iQgSex7EfTPPt9KQHXajYx6jZvbvxkZVh1UjoRXBS20sUskUg
CvGSrjsCO49j1FejggjIIweQR0NYPiHSjOhu4RiRRiQD+JfX6igRyseTxk4xjiu30W8NzZKsjAyo
ME+oHQ1xQhIwQCB1yTWz4fkCansMhVWU7QeQx9Pb1oA6qeGO5geGVQ0bqQykcEGuQutBu7OBnzHJ
GmcFQQwHYkV2Y+lIyhlKsAQRgg96APObOeW1uBcKSrxnIz39QfrXe2N5Hf2cdxEeHHI7gjgg/Q1y
2taW9vMTHxGefqP8RS6BqDWt4bdj/o8gHPZW7H6HofwoA7OikzkUtABRRRQAUUUUAHeiiigAoooo
AKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKQgHIwCD1B7
0tFAFCw0jTtKWQafYW1qJGLP5MQXcT1JwOavYpaKACo5okmieN1yjAgj2qSigDz3VLJtPu5VZcrk
EN6g9D/nvVeNg65A+UjBFdtrGnrfWpIUNKmSo9R3H+e9cSsBiYgligHzZBBH4GgDqPDF+0sT2cmS
YxlGP93PT8M10JAIIOCD1rhtEvlstTXdgRSjYSeq5PBz9RXcgjsaAOcvdBhtoHe2MrYO5lZtwx3x
n0649BWFg28gLMc7so44Ckcgj9K9AIHOcHNcnr2mGBvOhH7onIUdAe4+lAG9pV8t/ZCXI8xTtkA7
Ef49fxq/XCaZqI07UUcP+4kAEo9B2P4V3QIYAggg85HegCte2q3VuUI+YAlT7+n0NcNPC9pMYzkE
5AJHv0r0OsTW9NEyeco5H3vb3oAl0bUDdW5hkYGeEAMf7wxwf8a1q4O0nl0/UUkLDduCsD0ZT2zX
cxSrLEroQVIyCDmgB9FFFABRRRQAUUUUAFFFFABRRRQAUUUUAHeiiigAooooAKKKKACiiigAoooo
AKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigArO1WyF3bEqMyICQPUdxWjQaAPN7iAo5V
iMD7vuP8a67w9qX26xETtmeEBWz1I7GqevaYM/aEAwTkezen0NYdjczafqCXSISo+WRQeCp6/wCI
+lAz0Kop4VuIXicZVhj/AOvSxSpNEssbBkYAqQcgg1JQI4C9sHtbiWJkBJPDHgAetbnhnU/NiNjM
37yIZQk/eX/61XdY01L23Zgv7wDHHcf/AFq5h4pbCeN4iBNFypxwfUH2PSgZ3tNZQwII4IwRVawv
I7+zjuY8jcOVPVT3B+hq3QI5bU9MSOVi3APQ0zQ782l19kmYmKZvlJOdren0P8/rXR3lstzbshHO
DjFcZNAF3xsWA6gk8gg9frQCO8orJ0PUDf2ZWUjz4SFkAPXjg/Qj9Qa1qACiiigAooooAKKKKACi
iigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigCOaJZomjcZVhg+1cZqFk1vM6OSBnqO/vXb1m6vZC6ty6jLoM8dSPSgDF8L6kIpm0yRiVy
TASfxK/1H411led3McqMkqYSSMgqwGCCOhrstH1BdSsVl4EqnbKo/hYdfwPX8aANHr1FczrtiY28
xFyhyR7eorp6huIFuYWjcDnpnnB7GgDlNHujp90Vds20pAYf3W6A/Q9DXYA1xt9bhHaJ1IxwWA71
s6DqJuYPs0rZnhABJ6svQH6+tAzaNYmr2K4NyijkfMR2PY/StumugdCrDIIwRQI4qyuWsNQWfacs
AHAP3l75HqOo/KuzR1kRXQhlIBBB6g1ymqWUlvP8oLKDkEdcdqtaBemGX+z5m4OWhJPbqV/DqPxo
GdLRSA0tAgooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigAooooAKKKKACiiigAoNFFAHO6tpqiTeowrZI9AfSsbTLxtK1YtI+IXwsnHHsfwr
tpolmiZG6EfkfWuU1TTgxcH5dvU460AdcpDAMCCDyCOmKdXNeGdTZw2nTkeZFzEc/eX0+o/lXS0A
zN1Sz82MzJw6jBx3Fcupn068FygO5TyM/eHcH8K7kjIx61zesWG2csMKjHI46+1AG9a3Ed1bxzxH
KSKCDU9ctoV6LS5+xyS5jlOY+MAN3Gff+ddTQBUv7b7TAQB8y8j39q469SVJN8bGN1IKMB0IPFd5
WLq1mp+cKNjcN7GgC5pl8L+0WUgCQcOvo3f8KvVxdjcS6RqAlcn7PJhZAegHZvw/lXZKQyhgQQRk
EdxQA6iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiijtQAUUUUAFFFFABRRRQA
UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAVn6jbCWPzAMlQcjHUf8A1q0KMA0AcFfRTWl7FeW+A8Zy
vHH0Psa7HT7yPULKO6i43DlT1U9wfoazdTtDGSqfdfO3jgH0rI0S/OlaibWdwIZjg57N2PsD0/Kg
Nztar3lst1btGTg9QfQ1YzQaAODubJonkQlg4bK88qR0I9811Gi6l/aNjl8CeM7ZV9/X6HrUes2I
lj89R0+/x1HY/hWBC76RqKXY3GJsLKAeNvqB6jrQM7emOgkQowBBGDQkiyIrowZWAII6EHvT6BHO
3topDwSjPB2kjgitPSYZYdLgjmPzqCOewycD8Bir+BRQAUUUUAFFFFABRRRQAUCiigAooooAKKKK
ACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA
huIRPCyHgnkH0PrXH6xp5cMxQhwCGA9exrtqz9Rtw6+aoyQMMMdR60AUfDeqG+sxBO2bmAYbPVl7
H39D71vVw9xbzaRfJqNvyin5lA6qeoNdnBKJ4Y5l+66hhxzgjNAD2UMpBAIIwQe9ZM+kO+6NSrRn
pnqK2KKAK9nbCzs4rcMWEagZPU1YoooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAo
oooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKTAIIIyD
1paKAM+TTFkVk3/u2GMEZIHpVyKNYIUjX7qqAPoBUmKKACiiigAooooAKKKKACiiigAooooAKKKK
ACgUUCgAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoooo
AKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoFFAoAKKKKACiiig
AooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAC
iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKBRQKACiiigAooooAKKKKACiiigAooooAK
KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigAooooAKKKKACjtRQKACiiigAFFFFAH/2Q==
"
     id="image3063"
     x="-28.813559"
     y="-28.81356" />
</svg>

{{=grid}}

