{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Condensadores Lentaja </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3039"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="200"
   height="200"
   sodipodi:docname="lenteja.jpg">
  <metadata
     id="metadata3045">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3043" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1364"
     inkscape:window-height="718"
     id="namedview3041"
     showgrid="false"
     inkscape:zoom="0.67428571"
     inkscape:cx="175"
     inkscape:cy="175"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg3039" />
  <image
     width="200.21187"
     height="203.17796"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAFeAV4DASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD3+iii
gAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKill
jgiaWVwiIMsxPAFec+IvHc8zvb6WxihHBlx8zfT0/nXPiMTToK8jehh515Wgju7/AFrTtMH+l3cc
Z/uk5P5Vz118RNKhJEEM0+O+Nory955LiUtIzO7ZJJySTVdixY+n6V5FTM6svgVketTyyml77uz0
hfifB5mG05wvqJP/AK1dFpHi7SdYKpFP5Ux/5ZycGvEmQqwIPUdKiDvG+Vchgcgg4NKGYVou8ncc
8upSXu6M+kaK8t8JfEBoitjq7lkztSc9R9a9PjkWRFdGDKwyCDkEV7NDEQrRvE8etQnRlaQ+iiit
zEKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiig
AooooAKKKKACiisjxJqR0nQbq7U4kC7U/wB48CplJRi5PoOMXJpLqcR448SNd3T6bavi3iOJCD99
vT6D+dcWqb9xLBQASSckUjsQzZOXOTknPNQzu/2d40cgsOo7V8tVqyrVOeR9RRpKjTUIgs8bF1Rs
lDhh3FG9RgZGfTPNZlm0i2LySuzEsckgZwPpVaB1F0k2FaabO4hiBj6Gn7LfyH7TReZsnPU4x7VW
lBCjPPoKhvr3yIQI5CGY4GFzj61JuLRjK5OBkgY5qeVpXZSkm7IjzjnofWvRvh14sdbhdGvJMxP/
AKl2PQ+lebyNtHuPfimwXMltcRzxEq6sGBH1rSjUlSmpoyxFKNWDiz6forH8O6susaPa3WfmkjBP
171sV9NGSkro+ZaadmFFFFUIKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKK
ACiiigAooooAKKKKACiiigAooooAK4b4mz7dFtoM48ycMQO+Aa7mvO/igpaytJB0jlwfxBrmxd/Y
yt2OjCpe2jfuedNIuAV5OOc+tVribyrWSQnGFPbNKHw2TnngVBdW0d0gWVmwpyMEivmo2T1PppX5
dCtLIINHwMAFQABlQc1EqKt3H94eXHkng1Y+xqls8EbsAxyCfmxRb2whyZHEkzcF8YJFbcySdmY8
jbWhkm7tnlUyEmTdliQVAANbXm5XI5BHBHeqs0Ra9QlCYwpPQEGpWwBnHQdOlOpJNKwUoOLdyOQ+
pByec1C5xznjHanyPjqOo6VWdwvuD1qEi2z2f4Z3u/w/GoziOVl59ODXo4OQDXl/w3j8vwzG+3Bk
lZvr0FenRcxL9K+iw1/ZRufNYi3tHYfRRRXQYhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXK+MdN/tPS7i36My7kPow6V1VUdRh3RBwM
letTOKlFplQk4yTR89IzKSrggjgg9jUbzxdC6AngjIzWrrkKRa1fqmNgkYjPrXOPp1nlswgls5OT
k18xKEYyakz6dTlKKcS+rjacHPH5UwNk88kcVlvZqzIsc0sYUYGDkdaeov0gcRzRSSA8F1xxQqcX
sw9pJbxNPGeByRVV8rkEj8sUWct55wWeJAMZ3qxpLpjvYE8ZJwKXLZ2KUr6lWR+cgcmoAjTzRwxZ
LyMFUDqSaZLIFBJ6iut+H+hve6n/AGhMv7uP7gIzz6100aTnJI5sRWUItnqnhzThY6ZZ2a8+UgBP
qe9doowoHoKx9Ktst5h6AcVs170EkrI+ek7u7CiiirEFFFFABRRRQAUUUUAFFFFABRRXMeJfFKaU
GtLXD3pXv0jHqf8ACoqVI04803ZF06cqkuWK1NbVNZstIh8y6lwSPlReWb6CvMfEXxV8S2krf2N4
ct5rcDiSSfc5/wCAjH9azbi8mupmmuJWklc/MzHr/wDWquWzkn8CK8Opm8+f92lbzPap5VDltN6n
H3vx38drOVJtLQg/c+y8j/vrNWdN/aH8VWzj7daWF6nf92Y2/MHH6VvXljaXy7Lu2hmU9nUHFczq
Hw90m4Je2ea1Y84U7l/I11Us3py0nGxzVMrqR+B3PYPB/wAaPDXihktbiQ6ZftgCG5YbWP8Asv0P
44r0ivjO++HuqW5zbTQXAHTnY3616N8O/Hvirw3PBpPiGznu9KztE+d7wD8Oo9uvpXdDFUJ/DJHF
PC1obxZ9DUVHFKk8SyxOGjcblYHgg1JW5gFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFZHiHWLfRt
MkmlILsCsaf3mq1qmoRaVptxfTZMcKliB1PoK8O8SeI5b68NxdXCPIVyqKeIx6CuPF4n2MbR1bOv
CYb20ry2Rm6jcs00kjsC0jFmz1rDuLwLxkDHSoLvUZJ2Ow5HrVVNL1G7+aO3kZT32mvKpYec9Wex
UxEKeiLaXgYDJyPyq3DOGbBI56HrWb/YWppybWXj/YNCRXdscPbtgf7JFazwTtoZRxyb1OhjBPAO
QR1qpqCFM+g4pLK56A5AI6dwauXMZbZnlSQCTiuFx5JWZ2qXNHmRmaJolxrmpCGNT5asN744Fe7+
HNCSxtY7eBcIoGTVPQNCttOtIktkHzKCWA5Oa7m1gEEIAHJ5NfQ0aKgtD5uvWlOWo+KIQxhF6CpK
KK6TAKKKKACiiigAooooAKKKKACiiigDG8SayND0iS5ADTMdkSnoWP8AQV5G8ss8jzSszyMSWcnk
k10vj3UvtWvR2QJ8q2QZA/vt3/LFcscqxXHfNfO5lXc6vItl+Z9Bl1FQp8/V/kP2DAxzkZwODmom
QheRjPNPJwuSRknA68VQ1XVIdNtvOmJc9FQHkmvNUXJ2S1O5y5U23oWixAwRkU0txjOPSmQXAmtl
nAIV0DDPGOKijnhuFzDMsqjglSDTs7bDumSEk5z3PWmMSAD68A0+RQpwDnBxnpUbeuMe9K1gO38B
eJmtblNIumzBKcQsT9xvT6H+f1r1CvnJ3aORWBIYEEEcEV7t4b1UazoFrekjzGXbJjsw4NfQZbiH
KPs5dPyPDzGgoyVSPX8zXooor1DzAooooAKKKKACiiigAooooAKKKKAMTxTpb63ozadHKIjM65c9
gOf6V4S/gW9vLh3hBkQuyqxyBgEj+le+63K0Gn3M6HDQ28jqf9rbgVn6BYJb6fZ2+3BWMFs9Se9c
86UZz5nubQrThHlT0OK8NfDCC3KTXiCWTg4I+UV6HaaBY2yAeQhI7Y4rVACjAGBS1rGCWxnKbluV
Tp1mRg20eD/s1l6h4X066RiLZA3pit6iqshXPJdd8EwtFIbSMJOoJUAcE1wO5vLMco2uGxs/izmv
oTU7QOPNVcnvivP/ABF4Mj1m7Nzb3EVnOkbNI7r8rqMdcfzrz8ZhPaLmjuehg8Z7N8stjX8B35v9
EgLnLwMYmPfjp+ld6OlcB4D0x9N8NxNKwM1w5mYjgAdB+nNd5E26JT7V14fmVNKW5x13F1G47D6K
KK2MgooooAKKKKACiiigAooooAKinfy4WYdQOKlqlqbFbbaP4jSew1ueN63P53iO/JJP70gH6Cqq
OpfceAORmpfEKGLxHfL0zJuB+oFU1YhCCcnoK+UxN/ayv3PqaFvZR9CZ33tnPGMYHSuY1KztYr6C
1lnY/ap9zFstsHPSrV3rklndND9hmljUj5x3rPk1TTbzV7a7mnaIRL/qnTgNWmHp1IvntoYYmpTl
HkvqXNbufsWnQ2UWS8yiJQDgAetUbKMaZrcdlaHIaMNclue1T6uWu5LO+sCk7REnYCCSKdottdm/
ury6h2NOoIB5IHpWkWo0W353XmQ/eraeVn5DtR8QJHdWsdoqSiZ9pYk7R7VsNyCW4GK5i4tbefxL
FaRKqRW6mRlA4Jz/APqromcbeT+VYVoxSjy9jooynJyvsRSuN3DZ+tenfCq/D6de2Jb5o5PMA9AR
/wDWryt2GSQMCvRPhUSpvZP4WkVfx2munL7qsrHPmCXsHc9Uooor6I+fCiiigAooooAKKKKACiii
gAooooAxdbCS2VxE/ImeOEfQkE/1q7YRhd5AwBgD6VQ1GVZb2ygHUs85AHYDaD+tatqu23XPfmoj
uMnoooqxBRRRQAhAIIPSua19ks9N1SReG8jy1Hu/ArpqwdXjW4ighKKwnvY1bI6qp3f0qZDRajtB
bWVpbqADHGqcewFaMS7IwvpUDnfdKByBVqmhBRRRTAKKKKACiiigAooooAKKKKACqWpKWthjoDzV
2oblQ1vIDjpnJ7UmNbnjfjeIw63HMoJEsQJPuDisHJ24PHetjxffDUdUxC2Y4VKKw6H1rnjKQFBI
JA5PpXzWL5ZVZOJ9LhrxpRUiwGGzA4wO9QSafaTsTLbxMSOSVGahE4YnDDPTrThcAY+bp6c1zLmj
qjdpS31KF14dtmLtbTyQyggrhsgGoTea7pwxNClzH/eXritYSbucjJpwcdQenPHStVXla01zLzMJ
YeK1g+V+RkaPLY3d7c3sczefIMNE+MqK0ZJACcDA64qA2VtFeNdpGqzFSCy8ZpGYseP1pVGpyvEu
lFwjaQjycg5wfTrXr3w4sTa6PA7rh7hzMf6foK8s0XSn1jVIbWIfKWzK3YL3r3vQ7VYkyq7UQBFH
oK9PL6Pvc7PNzCsmlBG1RRRXsHkBRRRQAUUUUAFFFFABRRRQAVHI2yJnwTgZwKkpknQD1IFJ7AYB
dZvEdwqgg28EcfPTLfN/hXQqNqgDsK5zQ2F5d3V1jiW5cjvgL8v9K6SlEAoooqgCiiigBGOFJ9BW
Rs8zUNOGOFWSc/iAP/Zq0rlgttIScDGM1ShA/tG5I+7BCkQPvyT/AEqXqxlqABpXf8Ks1DbKFjyO
5qaqEFFFFABRRRQAUUUUAFFFFABRRRQAVxPj7xA+n28WnW52y3AJkYdVT/69dtXjHxGnll12V1Vy
kMaoWAJC5Jrlxk5RpPl3Z1YOMZVVzbI4/U9TSAFAcH1GSa5qXWQsmCcfU16HafDye5sUmupCksqg
kHqAazr34SXu0vakyHryK4KOC0vI76uN1tE5SDURIM5B+lWluQx/WmXXg3V9KJMlpKuOrAEis8Ga
3kxIhI6EHg0p4LXQqONVtTZiuRu5PB6mrscoYjPI6cVyxvJFdiRgduK1NOu1lABbJFclTDyhqdVP
ERnoa1woXIHOBnPrVGGC4vrtLa3jZ5G4GO1a8tmTHbkSB/NAxg8g5xivQ/DXheHTQoVA9w+NzY5F
aYXDe0lcxxWJ9nFW3JPCfhpNLtFhQbriXBkfuTXocEKwRLGvQD86hs7NLSPjBc9TVqvehBQVkeFO
bm7sKKKKskKKKKACiiigAooooAKKKKACq17OttaTTscCKNpD+AqzWB4mnA0q4hztMzR26n1LEZ/T
NTIB3hmDytNhyMHYCc9STya3aqaem21XjGat01sAUUUUwCiiigCCcB9iHoWBP4c1n6dN59hLc4/1
87svuAdo/QVLrFwbXT7m5DAeTA7fVscUyyg+zaXY23dIlB+uKnqM0ohtjUe1PpAMAClqhBRRRQAU
UUUAFFFFABRRRQAUUUUAIeAT7VxWoILxIrJlyt5fguOzxxAMc/8AAsCuwupRBayynoqk1y1hb7te
jjZmZrW1BPzZAeQ5OPwAqWNG5a2SSHzJFyo4A7GtEKFGAAB7UoAVQBwAKWmlYRFJBDMpWSNHB6gi
sO/8FaFqBJkskVj1KjFdDRRZDTa2PLda+D9lcIzafL5b8kBulec3/gjVdFuGLREhTyRX0xWJ4hgi
ezaR1HCsD7jFZzpKSsaQqyi7nimjI0+q6fBywaZTg845Ga9z0qAKrSkck4BrkNP8PWMWu28tvCsb
WVmhkxk75HHX8B/Ou5s4zHbKDwSSawwlB0U0zbFV1WaaRZooorsOQKKazBVLMQB3JNc/qXjPRtNL
K1x5sg/hj5rSnSqVHaCuZ1K0KavN2Oiorzu4+KESkiCxJHYu1VP+FqyIwDWCHPYMa7VlWLavy/ic
bzTCp25j0+iuGsPiZpdwypdRSWxPc8iuvs9QtNQi820nSVPVTXLVw1Wj/EjY6aWJpVfglctUUUVg
bhRRRQAVzGt5nvdNgAyGnedgeuFGB/OujlbZE79SASKwAv2jxNsbBa3gSMnuCfmP9KmQG/Cu2FF9
BUlFFUAUUUUAFFFFAHOeJCZ7T7IhObq6igIz2zk4rYwGuwB0XisWfE/iLTITyE826YjpxlR/Otu2
+aR2NQhstUUUVYgooooAKKKKACiiigAooooAKKKKAKWpoZrQQg48x1XOcd6y9CIubm8vE5WW4YK3
+ymFH8jUviC9FpbvIuC8ETybT6kYX+dT6BbfZNLggwAUjUE46nHNR1GatFFFWIKKKKACsPxMzNYx
wIm55pBGB0zk4rcrl/E3724jAkKC1je5JU4IKjj9aTAsaDALj+0rp+RLdFEI4+RAEH8jW+BgYrM8
P20trodnHK2X8oM5PUseT+prUoQMKoarqttpFm11dPhBwB3Y+gq3LKkELSyMFRBliewrxPxd4jk1
vUnKkiCM7Y09K9DL8E8VUt0W5wY/GLDU7r4nsSeIfGd/q8rIshht8/LGh/nXLvKTli3uaYTznrVa
/WdrR1gUb24znGB619jTpU8PTtBaI+SlUnXqXqS1ZLvaTnJVewHenAbORn3NYMe3TdQhjhmluHmB
B8yTOPwoubW6SF7+W9lhkHzeR5ny/Ss/rGjfLqtzf6sm0uaye3mdB5xAwRkH1q7p2sXWmXCzWkzR
sD0BODVC1bzrKOZkG6RQeCTis2Ni+uXEe0jbGpzu4/wqqjhKKTV0zOnGUZNp2aPf/CfjGDXohBOV
jvFHK9m+ldZXzRa3s2n3cc8bFHQggg4r3bwl4hTxBpSSbh56DEg9fevl8zy/2EueHwv8D6XLsd7Z
ck/i/M6GiiivJPUILjBVE4+dgMHv3rB8OD7TeX18eVmndlP+yPlH8q0NcuTZ2FxdDrBA7LgZ+YjC
0zw5a/ZdIhQ9QoBPrU9RmxRRRVCCiiigAqK4kEVvJIf4VJqWqt+R9nEZ58x1TH1NDAwbKNx4ju5H
IIt7GGAY6hjlj/SuhtRiLPqaxNOIkm1O5xgy3bIPcIAv+Nb0K7YlHtUpDZJRRRVCCiiigAooooAK
KKKACiiigAoopkkixRPI3CqCTQBy2tnz7tYjnFxdJGB6onzN+tdLartt19+a5aIm/wBdtcrgQ25l
HPUyn/AGuvACgAcDGBUxWoC0UUVQBRRRQAVyGrMJ7i5VeWuJ4rMY6Yzub9K6yVxHE7ngKCSa5KyU
XWp6cOCT5t2/4kKv6ZpMDrYxtjUdMCn0UUwOM+Iermw0ZbWNsSXB5x12ivHGJZiT1Ndl8Sbxp/ED
Qg/LCoQD8K49Vyvqa+0ymiqWGT6vU+OzSs6mIa6LQb/nFU9UuWtbJ3UgEkLktjGe/NXipzxz61R1
RoY7XdPavcqDwirurvqu0HZnFRs6iurmXYPo9tIrRXMc124+Zi2Sxpts2nanO91fXQyDhIXcAIB/
OobbUNMW98ttNeB3B5aMCrUUWhmyF99nRYgerjmvNj76Sjy2V9NT1JXi25KV3bXQ2X1K2tmj34Fs
65WcMNv0qpYlbvV7q6hIa2ZVUMO7VLbX9lO0ECQkhkLoDHwBVmO9jOotZJEVdU3kjAHWujWUk3JW
v+JzaRi4qLvb8BJ1Kgg8+3pW78P9bfS9dSNnIilbaR25rIugdhOMfUVm2U7Q6mjKeFYYNGKgqlJx
fUMJNwqKS6H1FHIJEDCn1j6RdebZ2zk8PGpP5VsV8PJWdj7KLurnOeKHLWkVqr4a7uUjx/sqdzfy
rctYxFaxoOgFcPbaN4gk8WxTX7zSWib2wXBjUkn7vfp2rvgMAAdBULVlC0UUVQgooooAKp3hHnQF
s7Yy0rH6CrlYeu3QhsdSYhgEtSuQueWyKTAZpXlvp1s8UXlJLmbZuJILMT1NbwGBisyyiEfkQg8R
oq/kBWpSiDCioppo4ImkldURRksxwBXK33xA0y2lMdtFNd46umFX8zWdXEUqKvUlY2o4erWdqcbn
X0Vw9v8AEnT3fbPZXES/3gQ2P5V0+na1p+rIWsrpJCByvRh9R1qaWKo1XaEk2VVwlakrzi0jRooo
roOcKKKKACiiigArN1yXy9JmAzukxGMe5xWlWRrVwsT2wb7sZedh6hFJpN2Az/DyCfVL+5ByiyCJ
DjGFRdo/XNdPWH4WgMWixSsMPNmRgexY5/rW5QtgCiiimAUUUUAZ+tS+TpFy2QCVKjPqaxtEjMup
zy5BEax2yEDjCrk/qau+IpAfsdueFeXe30Xmo/DEZ+wRyMu1nDSkehYk1L3A6Ciimt90/SqA8L8a
Mz+J7oHkmQ4qPSNAutVVhbxElT8wx0q749t2t9fMwHD4YH3rqvBN4n9qKF27LuAEAcYK9a+u+syp
4KM6a2R8nLDxnjHCb3Zh2/gu6nlAKgAHDEnGK1Jvh3GbVmScLIozyOtd1qM32azlZAAQpINcZaeI
ma6WKQhmOME8BTXnwxuLrpyg7JHVPCYajLknrc8P1/T7rRtduP7SjEivGwtioyBWbpEM7yWsN189
mQWTC5Un3r3/AMR+CIvEEENzNKZrhYztIGBk/wBK8tvvDJsLFdOuAcoSCQCAG9a6MJP2879Vf9Nw
xDjRhb+l6GE7eT4rR3OyMxYBPANWLQs/iqdxlk8oLuHIHSrE1istmLa6kMxAx5hGCD60lhaR2Ee1
Tuc8s5HLV6Xspc3le/8AwDgdaHJ52t/wTWvGxbnOPY96w4STqKj1INWbq4JXGenSqmmp9s1SJFyD
uA4oxE+SDuPDU+aR9E6GSuj2YPURLXSRtuQH1rAskEVpDGONqKP0rbtjmEV8VPV3PrYbE1FFFQWF
FFFABRRRQAV59rOo+I7jxM+nQaUW0d54t1yOWIBBP0Feg1XS0jR3YFiW680nfoCIrUBrh2/I1BrW
tWuh2JubnJJO2ONfvO2Ogq/FEsAYg9eea8g8Q6s+u61LNvzaxMY4FHTaD1+p6/TFcOPxf1WlzLd7
Hdl+D+tVeV7LcbqmsX+uTmS7l/dZ+SBchE/xPvVHYAOh9OlY19Ff3RmM1y2nWkJ4kQgmQep9KoaH
cXJ1G6tLK8a7g8ssssoJ+fH8q+XnTnWTqyndr1/Pb5H1Ea0KEo0owstl/wANv8zo2ixnI5NNjaa1
mEkMjRyKflZWIIrnNQ0mONEu9Z1S4guZMqfJY7OPSp/Dl3d3GjTl1aVYSVgdshpAPU0vYctP2kZX
t8vufUaxKlU9nONrr1+9HrPhbxyLmdNO1Vgs7HbHP0DH0b3rvq+WdG1S+1HUb1bhBEkRBVf4kOem
a958C+ITrWlmCd913bYVierL2NfR4HEzUvYVnd9GfPY/Cw5frFFe690dbRRRXqnkhRRRQAVxXjHR
9b1K/gawwbYoI5AGwQCfm+tdrRQBBaReRaRRYxtUDFT0UUAFFFFABRRSE4GTQByviSRXmuQW5SBY
kx1Du2P5VvabCIbUADAOAPoK4hNXi1fxJJZoMlbozMT/AHVGF/WvQo1CRqo7DFSlqA6k7UtFUB5n
8RNOM1otyoyYyQcdga870zV7nTbmN4mIaF9yj0r3PXLFLu2mgcfLIpAPvXgurWj2N86EEFWwa+my
mvGcHSkfPZpQcZqpE9js/FVnr+kNucRzFNrp3zXAXbsuquF3BI3IB9MVy1tey25DxsQexqz/AGpK
zAs2QOcV3UMDGhJ8j0Z51bFTqpc+6PePDkq3OiwEcgDHNR+IPDlrrNk0flKsvVXA5BrzDTviFd6Z
Zi3ghQHAy55qvP8AEbXpJCy3ewdAqqMV5X9l4lVnODS101PTWPoOkoTTZmarpU+l3clvcJhlbHTr
WLOskXIGQOfcV0N54wuNVG3Uo45TgAOF2sKqtYi6szcWj+cEGZEAw0Y9xXvQlPkSq6M8aUUpNw2O
elJkX5RnPFb/AIJ0gz67FI3RDuYVl/ZkWQsBgnqM9a9L8FWUaL54AIIHNeZms3CnZ9T1Mtipzuuh
3MWAo71s23+oWsiIZIGOprZjGI1HtXyzPooj6KKKRQUUUUAFFFFABRRRQBjeKbprLwxqEyHDiEqp
9CeP615DaqAgAAwABivU/HCGTwlfIvZQx+gYGvKrdgUHccV8xnrbnFeR9PkUV7OUutzKuNau0M0F
xokska/irLUOm2V39sn1K3tYrCOS32xITkA+pFV/FNxfiSCIjZZ+YoVlOCT71r6/My+HbhIVbJUL
xycd65F7tOKgkufTqzWXvVJubb5NeiMr+0NYubVYLjR47s85kONp9/Sr/h7TrvTNOkiuFAJkLBVb
OBWHpWrXdxawaPaOLZ0XDPJ35PSnap9p0m402A39xJCJC00hOBjI4rarRk70VZX169PwRlSrR0rO
8raX06/ixmgMbjWNWugpCmXbuxjPtXeeBbuSy8WxIp+SdWjI7ev9K4zU9XjsHsvsQilS9l+bGMke
tdV4TRn8W2A7hiSRxj5TTg5e3hO1r2t8tDWSh9XnTve17/PU9yjcSIGHQ0+qliT5RBOcHrVuvqou
6PlHowooopiCiiigAooooAKKKKACkIBGDS0UAZVvoFhbag97DHtlc5Y1q0UUAFFFFAFe7i8yIkdR
yK8V+IUEcWquyjG9QT9a9xIyMV4N8RLg3PiG8CHEVvhWNetlCbreiPMzNpUvVnJwaoLWGWExRyLI
MHeM4PqKptfKOmBis2afMhC84NPitjIN8rhE7k8AV7s8VGm9DyoYXmLTX45561Gb1m6AketCvpcX
HmPKR1CDil+32i/6u1cj3xXLPMrHTHBLsOjvJuPlJHoa2tP1l7GWC5tonguYmz5oYkH6isM6o44i
t0X0J5NCXd2zgmU49MDFZ/2olpLVDeX320O1v7zR9Wee42mwlaDcI413RvKPT0B/Q11fwxvDdWF1
AxyYmBBPPBryq4Ey26TKpKHg45wa9k+G+hSaT4eFxcDFxekSFT/CvapzCtSlhlyvfYeBoVIV3f5n
cWyAyL9eladZsB2yA/hWlXzrPcQUUUUhhRRRQAUUUUAFFFFAGfqtsl5aPbyDKSoyMPYivFNj2s0l
vIPmjYoT0zg17rcbRCzscBRkn0rwzVrkT6ldXCcLJIzg+uTXgZ3GLUX1PoMjlK8l0Of8S3AlvNNt
PmJaYNgexqTxZdmLRTHHktLIqDHFSTm2e4jnmjQyR52MeopWukkA3KGOeMjOK8qDUeTT4T1Z0m/a
a/F/kZ2pN/Y/2XUYbQTuqKkzHkgcVc8QTvceGZZIQRuQMQeoXvVmR2EXmMybOgGck1W+2Rn927DY
3BB5BqlJtxk1dpk+yjaUYy0a/ExdGshe6xHO9vutIoFEEmzAJwP/AK9en+BbVW8QySt1jgYge5IF
ctbzRRKsMZTy1+7s4FbWjat/Y2px3ZXcnKyqDyVPWtFiL4mMpLRGbwrWFlCGrZ7HYD92x7E8Vcql
ps8N1Yx3FvIJIZBuVh3FXa+sg7xTPkpKzswoooqiQooooAKKKKACiiigAooooAKKKKACiiigArwz
X/Dd9rnji70qGZIRcSGXe4OMYP517nWDd6bCNes70L+8VioI7gg11YXEug5NdUc2JoKsop9GfMc+
kz2uq3VoAZzBK0QMYPzkEjircfgrXtTYM8DBeyDOBXuPhrwvZfar2+kiDSyXcwBIzj5jXbw2kECg
RxKPwoq4qU0gp0FFs+dLT4XawyjMWPqKvr8LNTIyRg+mK+ggAOgApa5+dm/Ij55k+GmpQ9R+lRDw
LeIRkEfhX0QyI4wyg/UVUn06FxkIAe9Ckxcp5r4V8PCHSNYsr2JXSS2Ei5HQqSR+uK7+xt3bT4Xx
jcinA+lOayEcoVUGJYJI2/T/AOvU+iSeboVi56mBM/lS5nsVZDRGVPTkVfjJMYJodNw4605RhQPS
kCFooooGFFFFABRRRQAUUUUAcX8RNZk0/TIbOE4e7JDsOyDGfzyBXjl3dy3UphtVLEZzjoBXsviv
w/D4j1G2t553iSKNz+7xuboeM/Suf8L+D4JNBtZpFwJ182QnqxPr9K8fEYSdfEc8tlsezhsbDD4b
kj8T3PIbxZoASzlm9B0qtDdXbHlcgdDkivohfAelT8yQKF+mc1Zi8AeH4x/x5qT6mt1g1bYwePk3
e586tJcuBlGI7jPemtFcnny2A9eTX0pH4L0KMgrZJkVYHhjRwuPsUePpVLBRXQh46T6s+aoHnjbO
SD+Na8V1IUy2MdOe9e4XPgbRJyWW2WNj3ArntY8C2cNpO8aAFULDHGcc1z18uU1otTooZnKm9dUM
+FeqSvb3+nzE7ImWSPPYNnP8q9KrgfDGk2mmatqkNoW2GG3kUscnayk5/PNdtaOXh55wcA+tduEh
OnTUJ7o4cXUjVqucNmWKKKK6jmCiiigAooooAKKKKACiiigAooooAKKKKACql4Pmt27iZRVuobgA
qhPZ1P60nsBm6KCsd4DgkXsvT61sVm2URimvgejXG8fiorSoi7oAooopgFFFFAFW6Ox7d8Z/eBfz
yKraFEbfSY7diCYndODngMcfpirGogG0LEZ2MrY+hFRaY372/jOMpct09CFP9aXUZoUUUUxBRRRQ
AUUUUAFFFFABRRRQBkTop1xM9TC+D6dKp+Hk8rQdJgzkCBQT1zVm5bHiK3UnlonAH4Vn+GnLaNpO
TyIgD35yagZ1IAAwKWiirEFFFFABWfrCeZYSL2ZGX8wa0Kqaiu60b2INJgch4WuGn1WOViB5+kRj
A7mN2Wu0tgBAuK4jQIzbappHORLYXQJ9MSqf612tmxa3GfWkgLFFFFUAUUUUAFFFFABRRRQAUUUU
AFFFFABRRRQAVBdZ8gkdQQanqOYZibNKWwFaMt9su1PTKMPy/wDrVcHQVRXI1SbrhoUP5E1eU5UG
lEBaKKKoAooooAhuV320gHUqcfWqdmQmq3i/xSpHKR+BX+grSPIrKgympWrkZMkDxsf91hj+tIDV
ooopgFFFFABRRRQAUUUUAFFFFAGHfceJtNIBIKybiDwPlrL8KOraLppByCpAP/AjWjrCL/belO4y
BOAOe5VhVDwza/Y7K3td2RFLIoI9N7VPUDrqKKKoAooooAKr3oBs5M9hmrFQXYJtJQP7tDA5CzZP
7W8PhDw1hdYP4pXXWWPswx6mvKvD0lzD4wto5JHaGKW6gRSvyru+br+Ar1Sy/wCPZfqalW6AWaKK
KoAooooAKKKKACiiigAooooAKKKKACiiigApkozEw9qfTWGUYe1AFBHze2rHjzIWXb9CKvp90VlK
4L2LA/cmeM8eoP8A9atSPoR6GoiA+iiirAKKKKACsdpSl5ajoBdSR8+6k1sVhX/yXSkDhL6JyfQM
u2gDdooooAKKKKACiiigAooooAKKKKAMPX0Hm6dIW2hLqM/X5h/jVPSFMN5cR5yFvZcY7AnNW/Fg
xopkyQI5UckdeGFRW4jj1u5SPqbncwHqVU1D3A6KiiirAKKKKACmuoaNlPQjFOoPIoA4meFYI7Nw
xLf2seT2yprq9PObbrnBNeeajqEx8RxWJXEEOqRuDjoWQ16Fpw/0QH1YmojuBcoooqwCiiigAooo
oAKKKKACiiigAooooAKKKKACg0UUAZUgRY4yP4btScepOP61opw7DnrWXcbRFcjGCs0bE/8AAh/h
WqOJSPUVMQY+iiiqAKKKKACsjUwQl5gA4jSQA/7LGtes+9XMkg7vbOB+GP8AGgDQoqC0fzbOCT+9
Gp/Sp6ACiiigAooooAKKKKACiiigDE8WDPhm+I6rGWB9CKzLM/8AE/klwQbjypmGSRkoBx+VbfiB
DJ4fvlGMmFuv0rBs5WGu6f8AIEWSwgZVHbrkVLA7GiiiqAKKKKACiiigDz3WrREvtRuCMNFe2sin
OMZO0122m/8AHin1Ncp4hhAi107SXAt5FOfSSuq0s7tPjP1qErMC7RRRVgFFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFAGNfOEXUC+AgiVsn2JrUDZdD6isjWSFt7/ABGzs1uwwnUD1z7da0bWTzLO
0l4+eNTke4FStwLdFFFUAUUUUAFZWs6jaaXFHc3s8cEJLRmSQ4VSR3rVqtd2NpfxrHeW0VwisHVZ
UDAEd+aAKugXCXegWU0bh0aIYYdDjitOmqiooVVAUDAAHAp1ABRRRQAUUUUAFFFFABRRRQBWv41m
0+4jYZDxsCPwrk7Ioo0Ek7ma1CZzzhSP8a7NhuRh6giuWmhEFlo74AdGKZ6cf5FTIDqgMDFLRRVA
FFFFABRRRQByHiB0U64jNgfYVkIx0wTW/orB9KiYcgiuZ8ZazY6TLLHe/asXdq0KCFAVycj5ifwr
f8NPv0C1J67Rn64pdgNeiiimAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAYWr3E8F/bCG0e4
jlDRzKi52qR/iMVfsUki0u1SWPy5FRQy5zg4qyY/34fPbpTpF3LilYB9FIOgpaYBRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFABRRRQAVwq/D508UHWF1WZl5IhdmIBPpziu6oou1swEAwADyQOtLRRQAUU
UUAFFFFAFa5srW72/aLeOXByN6g4qaONIkCRoqL2CjFPopWAKKKKYH//2Q==
"
     id="image3047"
     x="8.2759534e-06"
     y="-1.6648891e-06" />
</svg>

{{=grid}}

