{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Fusibles </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3039"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="240"
   height="177"
   sodipodi:docname="images.jpg">
  <metadata
     id="metadata3045">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3043" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview3041"
     showgrid="false"
     inkscape:zoom="1.2875"
     inkscape:cx="120"
     inkscape:cy="88.5"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg3039" />
  <image
     width="240"
     height="177"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCACxAPADASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD3+kzU
byoqZY7f97ivINd8ZXOpalLE7ywWSsfJWPI3Y7t61MpWGlc9jzRXk+j+NdRso03ut9b/AO03zL+P
Wu80jxTpesbVhl2S/wDPOTg/h60lNMHFm7RTQ9OqxBRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRR
RQAUUUUAFFFFABRRRQAUUUUAFFFFAHA/E+/mt9CitbeLf5z7pPZV/wDrkflXkcmopd70/wBV0VVb
p+B7V7n4s0SbVYIpbX5pYc/L6g+nvXk+q6LDLO6SxNBcL975cEfUGueTs9S1toY8J+yfPvaL/a6g
e/uKZrWuzaVGiS26xXrLuj+Uj6OQegqeGK50qCWK4t/Pt2RlaSNsFARyefb1/SuK1DUbvWL5726d
mdlEa7ucKBgD8qcUmxNtI9y+Gmu3/wBgeXUdYbUYpMbVZcGEjOQD6e3tXp8NxHPHujYNXgfgW8h0
/Rvs8qbdzltzfpXf2t7Mnz28v/j39aXO0y1BNHoYNFc3Y+It58q6X/gX+etb0U6XEe+Jty1rGaZD
i0T0UlLVkhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFIaWgAooooAbis7U9GsdVj2
Xlusv91ujD6EVp0ZpNXA8n8XeAtRi0m7/shnut0TbY/+WnPb0Y9fSuBsPDkMton8Uqr80ci7JYz3
BB/rX0oRWVqnh/TtXQfaov3q/dmXh1/H/Gpcew79zxMwfZ40T5l2/wCzg1oaZe/ZN+/cyNj7vaut
1Twjd2/3U+3W/wDsriRfw7/h+VYP9l7JHeL5v9luD9CKwd+povI17a8huI/kdW/z3FX7a7mt33xS
1yBt3i+eJ2idf89acuuXifJ8u/8Avf5NKxpfuen2OvJL8lx8j1rLMjD5XX5vu15P/wAJGiWj+bbt
9o2naq85Pt/ntT7PVrHW3821uHsL1cbVkkIV/ox6fQ/ma0jKRm4o9azS1xVh4pu7GT7LrNu6N/z0
24P1I7/Wustry3u4fNt5FlT1WtVJMhxaLNITSZrnvEPii20dPKT97dt92P09zTbSElc6LIpa4Wy8
Q31ppj6pqlwv2f8A5ZxtH88h9F9vetrw54p07xHa77V189R++g3DenOOR6e9JSTBqx0FFFNJqhDq
Kbmq8t9aW7qktxEjt91WkAJ+gJoAtUlVH1G0T70q1Vl16zi/i/pUOaHys1c0ZrnpfE0P/LJd36/y
qF9evH+5b7f975f50vaor2bOnzUU00UMbPI6oijLMxwAPrXF3viKa02far2CDd93dJyfw4rnNR8b
2MUEr/aml+U/djyPx9RU+0fRD5Et2eiSeJtGRAwv4pNwyPLbd1+lZVz47sYpHSK1nldf9nb/ADrx
rw/4nSKeVPlliVyyqzCMENnqOehB/OtK48ZzW/yRSwRf7Nsq4H40nKdwSieqaf4ov766X/iUMlv/
ABNuOV/MYrqUdXG5W3LXzgPGc3no8rtK/wD00kLf1r1j4aeIX1rSbi3dFVrVl27f7rZIH4YNVDm6
ku3Q7uiiitSQpKWigBu2s+/0az1D5pYtsv8Az0Xg/n3rSopNXA4LUvDlzb/Ps+1Rf3o1+cfUd/wr
k7nTkf57d938x9RXtGKxtS8PWOoHft8if/npHwfxHQ1k6fYtT7nhOoalc2XmxS2UUtlIy/eXD5XP
3W/hPNWbPSE1KN7jQ7qW6dfvWkmBcJ9APvD3H5V22seEri1jbzYvtNv/ABSRrn8SO31rhbrQntJ/
tGmytE64b735YNRe2jHbqma+n+Krm0j+xarb+fbr8u2Th4+3ynquPyqDWvGMPh2736VeyxS7Vby5
FzwQWIbHGRx+faqNx4iubvZb6lZJLe/djnb5SgAJJbj5hwDz7gda8+uYpruTzXfdubcv+Jq4q+5L
lY9yi+LMOoaFB9l2LqTqfMX+5juB1x3qpYwQpA+ua1L/AKPu/dru+edh2Ht6n3ry608L+bpMury/
6Ha26j942VeeQ9ETuT6kdAagh8R313Glvfv5u1RHCzMfkx0yB94dufzqnHqwUrHUeJPFlzrF3vfa
qL8sca8IgHQAUzwv4gh8NarFeytK8u8K0EfeM8MWJ7Acgd8VzUkjpJ5USbpW/Suy8EeAZvEF35t1
vW0j/wBdJ/f/ANlT60WFc+gLy6jsrSW6l+5EhZvoBmuZOs3eoWqyxXtva7l3bdwJA7nv6j8xWzqx
S303b/BwrfTof0rx1/EGrpP9g0h55ZVVoJo44CSNjMo5H+y2c+4qJu7sjSKVrnWT2c13HuutX1GV
G/55wvg/icCsq403S4p4k82VH3Bla5mVEyCCegJ5Hv3rj72fxF5b/wBpXqwf9fN7Gn6bs/pWPJPv
+/qCyurf8sNz9e4OADios2U2eo/29YpHvfzZ3/3uPwxjj3qsniNEn3/ZV2bvm74+mB/WsDTdNvtT
geWyRmtd7KslzGIO/OQxGOeMc1rWvhp96far212fxLHIXP8A46CKBXZpS+J7aL7m5n/3f8aoyeKL
6X/j1sGb8/6Ct2PR7FPuIzf7sGP1Y/0qc2aJH8lv/wB9SZ/RQKm5VmeW6v8Abr2+eW93LL/d24wP
YelZ76ZcvB/qpWT/AHT/ADxXp97B5XzvEv8AveTkn+prnru+d/3W9m+b/VxsM/TIyAfzP0qlMhxP
ONP09H1l7C9uPsaMp3NtLfd+YAAdz/Wu0h8NeF7eTe9xreo/7McCwJ+bf0rQj0KG02XuqSxaX5f+
rXbum59F69P7xq3omja14ig+0W/2PYvytunAwf8AdGSM9QDj8aptvYSiktR2nW2nRSJ/ZvhOzX/p
peztOfyHFeh+G7S4F3PdXDQKzRrGsdvD5aKAST9TWVZeA7tPmuNUi/7Zw5/UmuwsLJLCDykdn9Wk
xk/kBRGMubUHKNtC9RRRXQZhRRRQAUUUUAFFFFADawdV8K6dqe9tnkSt/HH/AFHQ1vZrkfFHiCaJ
Gs9O/wBc3ytJ/d+h7fWpk0lqOKPNPFmlJaXyWqSxTyx5VvL5+U43Z9OgH6VjW+k6d+91K6R4NNVv
lX+Oc+i+g9/rjpkdZHpCW++W63Pu+b0349e+2ud1oPqt3F/zyjyse3jP+6OyjA57+/bKLSLaOf1j
Ub7xRfRIkSxW8K7be2XhI1/z1aseSwe4n+z6ajS7V+adVIzjrt/2evNdWmnu8flfuoLf/lpt4z9T
1Ire0mDSL27i0hbidYpsxySQxZkkPHyrn7vXqQetXzkctzP+HPhX/hJY4rhvuRsY5G7DacH69uK9
9srKHT7VLe2i2Rr/AJyfesbwqmgaZpSaXobxLDCxXZu/eFu5bPLN6mujBqkuoGbrULy6VN5X34xv
X3xzXhmpaDM+rXF1bpuSZty7pWUDgcYUj9f6V9C4rDm8I6RPO8stuz7v4fMYD8hUSi27oaelmeHQ
aDDb/fW1X/tn/jVqHTrbzPKSXc/92Nc/oK9ui8M6NF9zTbb/AIFHk/mavxWtvb/6q3ii/wB1AP5V
Ps292PmOB0fwjd/ZF/dRRbiW/fcvz6jtXQQeFdn+tvW/3Y0Aro8VSu9WtrT5Xfc/91eT+Qp8kVuH
M3sMj0a0i/vN/vNVXU9tvYTpYeVFdsh8tmUMEP8AeI7gVW/tS7vH+RNif7P9T0H6/hWfqMqJA6Su
vzKfutx/9es3NbJFqLe7PNofGU13q0ula5e+ftcrHc22F84dNuOgPAxjg5P4w3ni630+P/iS2qwR
N/y3nw0zfQ4wuPYV57qVvcpdy790Xlufmb5cEHsfXgdKntTNqce/ezPu2+5I64/z3rTkW5lzPYvX
mrTXE7vvZpW/ibn8812Xwm1O70/xX5D7vs98myRf9sZKsf1H41had4bd9jyp5Sfr/wDWr0rwZpMK
X0X2W3/1bhmbb0+p/pU86WiQ1F9T1Oikpa6CQooooAKKKKACiikNAC1XuLhLeN5pZVjijXczNwAP
Umo7+/ttNtHurqVYoY1yzN/nk+1eM+JPFN94vvktLWJlst37m2/ikPZnHc+i9O5pN2Glc9FvPFNn
ex+VpV1FO7L95WyAPU9/wrEma2so/NupVX/e6vXH3Ulp4agdPln1jb/rFYlIOPu5/ib1PQY4rJj1
abXbvfK/+kKv8XAAHt/h6+9YSi92a3SR0U94+t332WJ9tuq7m3cAjPVj2Xrx1qC6gh8xEtdzfLt3
N1kPsO3sBRY2v8CI3+16598d+a9E8N+FUspFv71N11/yzXtGP8aSV2Js801qxm0qf7PcOvmrAGb/
AGS2Mj64qT4cQPN4ge/dvkt4Hl/E1W8bXLy6lqtxvRt0rKvrhflHHp8wP4GrPhKRNP8ADGu3SN88
ipBH6kHcT19lNXBaiW4l3evaeG7eVHZZbi8efcrEEYwqnPXu1ev+G7y4vfD9rPdNunZBubbjPocV
8/atdzPHptkn31gRf+BPz/7NX0LocflaVEn91dv5cU4t3Cepp0tITiue1bxdpelSNE8/mz4/1cfO
PqR0rRtLchJs6Ems/UNXs9Nj3XEqq38KryT+FefJ4n8Saxdutg23j/VqqhUHqS39T24ptrH9okl3
vulX5ZmZt3Pfnv8Ay5FZyk7aFqHc2LnxLqOpSMtqnkW//jx+p6CljSGL55X3Pt/zknk1nPdQ2kfz
vv8A9puB+X+fzrOa8u72Pev7i3/56NgH8B2/HmsHqapJGvf68lvHs3/7qr3+gHJrkdQ165ljfYnl
f72CQPoOBVqS2R/kt9zP/FI3U/nUdppL3c/lWtu15cf7P3B/vHoKaSFJnFX/AIfudYn83e3+00jc
fiT3qTwXYums6lZWsTXjrsWPyVJ+b5s/QYA56V7Jp/w/Rtr61P5//TvDlY/xI5P6fjXW2Gl2Omxs
llZQWqt95YowufyrdRbVmYuyd0cXpXgOaXZLrUu1P+faBv0Zv8PzruLSzt7K3WK3iSKJf4VXFWcU
uKpRSE3cKKKKoQUUUUAFFFFACVFPJ5UDy/3ealqKdd8Dr7VLdloNHjfi7U9U1q+lSWKWK3t2/dwe
3Tf6Men09KqXV7Y+FLT7Pptws+oTL++mVs7M/wACn88sK6bXrf8AfvvRWT+VeZeJLJ7e+SX/AJd5
F+9yTnrg/wBPUfSsITvubS91aGfcXL3Em93+f+JuwqxpkFzLdp9nRvlb5V28n2P19Kk07SJruTfK
m2L+Ff6n/P0r2XwX4PTTo1vbuL97/wAs426qPUj19qrfRGXmX/DXhxLKNLiWLY//ACzjbqPdvet7
Urn+z9Ku7rbuaGB5NvrtUkD9KuKKin+W3l/3T/KtUkkJu7PlLXYdU+w29/f3D+bcLuWOPI2Dpj16
g89at3Nq+meDfN82Vbi41Exr83GIoxu47/NJj8K7nxdottqEdlLv2+XK0n1UMOD+ANctrtu9xo2i
2ruqv5Uly3u0r5yT9AKVOSsU4tXMfQNad9dtZdSfdbrKjSSbQMBTwWxwBnrj8a+o7YC005Gf5VjT
c38zXgvhLwoj2OoW8vzPewNH93IGCApH4lq97nt/N02W1T+KIxr+WKSs3dE2aWp5VfeOb7xBIlra
u9nFJ92GH/WSHOCC35dMdahSDS9M/wCPr/Srj/n2tm5DejMO/wBMn6VlzaQ9vPs/5ar/AHe/GCPx
rl9Q1a58yW32bNzHzFXj5vc9ccj0GOwqIu5pdROg1fxQ7x+V5qxRLnbbWnAT3Y9P5n6Vg6V4iubT
UneL/VSfLIvOzk8H1OOufrWdbabc3siJs3f7K8CupsPDltb/AD3u1tv8PQe/1ok0TeTNqwl82R5Z
YvtVwrfu92QifgP8+/atOKK51CRFiR7qX+7GoAH/ALKorf0fwa9xAkupS+VE2GW2g4JH+0ev4Cu0
tbK2sYBFaxLEg/uj/OaSg3uNzscpp3gvcFfVHH/XvDwv4nqfwrrLa0htYPKt4kiT+6oxVgCitlFI
htsKWiiqEFFFFABRRRQAUUUUAFFFFABSEUtFAHFeJ9HuHf7RbxNKjfeVeSPw7j6Vw95pj3Ef2eW3
lZG/h8s59QR3r2zFGKxdJXui+c4Twl4W8kRXt/Dtf70cDdv9ph6+gruwKTFOrVJIlu4lZ+sXAtNK
up2/gjLfkK0TXO+MJduivF/z2dYf++iB/WlJ2QR3OGv4/KtIvtC/6u13N9cciuN1qB7jVvsqI3+j
xRw7fTao3D8813eoKl3dukr7d0qxt7AkA/8As1ctpe/U9W1C/wD+e05b8yT/AFFYR0gzeSO08JWm
7Ul+X5FVV/Hlv6frXooWuT8K2+x3f6/p8orrRV0tjKe5574t0KaK7+328W63b721eUPuPSuCn0G2
u757p/bzF6AkdD7e+OvHpXvxWseTw1pMt39oa0T+9t52E+pHSiVPsCl3PNdJ0K71D91pdltt/wDn
vJ8sf4Hq30GfwrutI8G2OnyfaLpjeXX8LScIn+6o4/E5NdLGqIm1VVUH4fpUmKuMEhOVxAtOooqy
QooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigBK5Pxa6Pd2ET/cWTzG/DJH8q6sna
K8k8Y+Lca4iWqpt4j3SMeNxK5x+H61nU2sXDe5Rn1C5/tmX51+zrBJI3yjJba2Dn6kUeF7fZAn8W
6X5v51lRCZ/D+sa4/wAztOsMKt2Xhj+JHH4VqaPfW2n+JPsDu7bkXbJt4ztzg+nfmsZfCao9R0KH
yoP91Qv881tCqGlL/ou7+8d1X+9bU1aKMZvUWiiitCQooooAKKKKACiiigAooooAKKKKACiiigAo
oooAKKKKACiiigAooooAKKKKAKmoP5VhcS/3Yz/KvnrWJPN1mX/gPy9c7VLfzIr3vX5fK0W6P+zj
8zXz45S41K9vd67I1k2q0gXJG1eM9fX86yluWtjqZUSL4Z2lun37q8LL+HH9aq6fDv8AHt6ifMkK
mNfoMKP0FOk1rTntPDFr5qslu3mXDLt43MM556ce1M8KN9r8Qaldb/8AWP8AK31JPX8vyrOb0+Rq
e3aYuzTbdfRBVyo4htjC/wB3j8qkrdKyMHuFFFFUIKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKACiiigDA8XCV/D8wiRmxhmx6DrXk7RJF9xEX/dUV7my7q47WPAkNxJ5umyr
bu33o2zs/DHIrGcG3dFxktjzeSC2uP8AW26t/wABHetbwjpMNv4gi+z7tkjjdHu44ycj+VbcPw91
HzP3t1aqv95WZj+WBXY6P4ds9Hj3RFpJj1kfrj0HoKhQk9xuSNpaWkWlrpMwooooAKKKKACiiigA
ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigBKimoooBDx/7LSiiigB1FFFABRRRQ
AUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB//Z
"
     id="image3047"
     x="0"
     y="0" />
</svg>

{{=grid}}

