{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Resistencias Fijas </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3039"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="200"
   height="200"
   sodipodi:docname="resistencias.jpg">
  <metadata
     id="metadata3045">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3043" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1364"
     inkscape:window-height="718"
     id="namedview3041"
     showgrid="false"
     inkscape:zoom="1.1400966"
     inkscape:cx="121.5"
     inkscape:cy="103.5"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg3039" />
  <image
     width="243"
     height="207"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCADPAPMDASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD3+iii
gAooooAKKjM0S/elX8SKYbq3/wCfiL/vsUAT0VXN5af8/MP/AH8H+NNOoWX/AD9wf9/V/wAaALVF
UzqunL/y/wBqP+2q/wCNMOs6Wv8AzErP/v8Ar/jQBfpKz/7c0n/oKWP/AIEJ/jXPeJvE8X2ZrLTp
lleQfPNG2Qi+gI6k+3SplJRV2NJt2QzV/HSW8rQ6dbrPtO3zpG+XI9AOSPfIrgb74o+J4dQdEeyV
Ffbt8jjH1LZq3s+SuG1f/kJ3H+/XEq8mzthRj1PXdN+JybCmqWLq6/8ALS3wQf8AgJOR+ZqS1+MX
hK7uUtopr3zWO0BrRwM/XGK89TY6fh/SvPdGOzxBa/8AXcfzrenUbTuc84JM+mJPiBoqLlBdS+yx
Y/mRWdZfFjQL2Z4Ut79XXruiXt16NXFBUrlNCGzxHKntIv8AX+lZqvJ3L9ij3Kbx5pCJut/Pnb+6
sRX8y2K53UvH2s7JXs7a2g+QsqsrSHOOMnIH6Vz8K0+RazeImx+yiilp3xU8VS6hFDcfYmRjj/UH
09mr0nwt4zTXZ2srqFYLxRuVVb5ZB3xnkEeleTz2iW96j/L8sgX9elSG/fStTtdRt/8AW28of6ju
PoQSPxrSFZtkypqx9BUVyUHxE8OtapNLdyRMwBaNoHJQnqCQpBx7Uv8Awsrwr/0EZP8AwFl/+Jrr
Tuc51lFcl/wsrwp/0EZP/AWX/wCJo/4WV4V/5/5f/ASb/wCIpgdbRXI/8LM8Kf8AP9P/AOAc3/xN
J/ws7wp/z/z/APgHN/8AE0AdfRXHj4l+F3dUF5Pljt5tJQOfUleK7CgAooooAKKKKACiiigDw3Xt
LluPEWpTf2HBLuupf3jIxLfOQD0qiNDu/wCDQIP+/T/4V9AUUgPARoV9/wBACD/wGf8AwpRoGo/9
AKP/AMBX/wAK99ooA8EGgav/ANAVf/AN/wDCpB4f1r/oCr/4Bv8A4V7vRQB4Wvh/XU+f+yP++bN6
sKdnyOnlOv3lZcY/A9K9rrB8SeH01qy3xbUvIx+6k9f9k+x/SsqtPmRpCfKzzN5diVwmrS/8TO4/
2nrrr13t3eG4RopYzteNuoNcVqL772X61yRpu51xkjoYZfkT/cH8q4TRv+Rgt/8ArqP511cc7/Js
RmZUHyrz2rI0nQ9XTVopv7I1D7+7d9kfHfvtrohGyZzzeqO7E1cppT7PEz/78n9a6E2eqJ9/S71f
96Bx/SsTTtG1d9W85NOu2bJ+7Ex659vesY07XNOdHU21xUss1Uf7O1myTfdaXexJ/EzQNj8TjimP
eI8P36h0mh8yZiPfTS6gifNt83d+tWNSk31PIiIm/wDirS8K+F7jxVqaO6MunRt+/m6Z/wBkHuT+
g59M6QjdkSdg0PwjrOt6YtxbxMsHRJGZV3464BPI96uj4Xa5/ff/AL+p/jXtEMMdvCkMSKkSAKir
wABwBUtdijY527nif/Cq9a/vt/39Snf8Kr1r++3/AH9SvaqKoR4ofhVrX99v+/qUv/CqtZ/vt/39
SvaqKAPFW+E+rN8vnN/39X/CvYLASpp9slzjzxEol7/MAM8/WrVFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABRRRQBmahoel6p817YwTvjbuZfmx6ZHNYUnwz8JzS7201s+gnkx/wChV2HFHFKyHczd
M0PS9GQpptjDb7urKvJ+pPJ/OtKiimIKKKKACse88MaHqE3nXWl2zy928sAn6kda2KKAMRPCOgKP
+QRaH/eTd/OtaKGK3iWKKNI41+6qqAB9AKlopWAKKKKYBRRRQAUUUUAFFFFABRRRQAUUUUAFFFFA
BRRRQAUUUUAFFFFABRRRQAlISK4DxF4qu5bl7bTpvLgj4aZernvg9h9K8u8USXMt6jy3M8r7P+Wk
jHv7msHXinY2hRcj6Rpa8D8NeINX0qyie1u5NnO6OT5lOCex6fhiugk+I2vo+zZZdB/yyb/4qqjV
T0JlTcT1ykrzRPiFq5hX/RLTcR12v/LNYeofFXxDaXpRLawZFx8rRP3Hruo9tEaoyex7RSV5tb/E
XUbi2R/7Pt1ZkDbtzY59qzr/AF/V9S/1t20Sf884WMY/Tk/iTUvERQexketUV8z69aXz6g8yXM+x
gP8Alo3X8/aug0PX9X0eytbm3u5G2j54ZJCyvjqCD/Mc0KvEPZM95oqhpGpw6xpNvqFv/q5k3be6
nup9wcir9bmQUUUUAFFFFABRRRQAUUUUAFFFFABTHYIjO33VGT+FPqhrEFxc6Le29m224lhZEbpg
kEZoA58fEnw06b1ubv5h/wA+M39Vpf8AhZPhz/ntd/8AgHL/APE1yP8AwgXij/n4b/v6tL/wgHiX
/n5b/v8Ar/hSA6z/AIWT4e/v3v8A4Byf4Uf8LI8P/wDT7/4Cv/hXKf8ACvvEX/P43/f8f4Uf8K71
/wD5+/8AyY/+tQB1X/CyNC/55ah/4CtSf8LI0b/n21L/AMBv/r1y/wDwrjXf+fv/AMmT/wDE0v8A
wrXWv+ftf/Alv/iaAOm/4WRpP/Pjqn/fgf8AxVUtX8afb7P7PYQzweZw7zKAcegAJ/OscfDPV/8A
n7j/APAl/wD4mq97oOp6Gi/bIt8WcLMrbhn0J6j8RWVZyUdDSna+pXUfJXK+KP8Aj9i/3P610pl+
SuR8Sy77mJ/b+tcMVqdsXqW9Kb/Qk/3z/OrE53zfgKzNLl2WSf75/pVmebY6P7VvTXvGFVm5C37l
PpXNeIBs1D/eQf4VsW0/+ipXP66++9/4AKyt7xtTZ1Wlt/oVv/1zH8q0iPkrA0ybZZW/+4P5Vq+c
7pUNaibIL4Quib3+fn8hVCKRP7P/ABP8zVXW2md08r0O6mW7PFpiI/3+f1NUokNnQ+FPGt74dSW0
WGK6td5cRsxUoT1wQD19MVvTfF6aJ/8AkCwf+Bh/+IrkPCnhm78Sas6xfureP5p5mXIAPQAdyfT2
Nd6fhLYv9+7Vv+2H/wBlXdC/U5p26Gd/wuG4/wCgFB/4HH/4ikPxgmZP+QHb7f8Ar+P/AMRWl/wq
PTv+flf+/H/2VL/wqXTv+flf+/A/+KrUzMwfGG425/sW2/8AA4//ABFN/wCFxXH/AEBbb/wOb/4i
tX/hUunf8/K/9+B/8VS/8Kl0v/n4X/vwP8aAMn/hcV3/ANAa0/8AA1v/AI3Xo2g6m+taBZai8KxN
cRCRo0fcFJ6gHAz9cCuQHwm0v/n4/wDIA/xrstJ0+HRdGt7GL5orddq7V7Z44H1oGaNFNWRWUEd6
KAHUUUUAFFFFABRRRQAUUUUAFFFFABUNxBDdW7286LJFIMMrdxU1FAHkHiPQLvQpn2wyz2bcpKqk
4Ho2OhH6151rM3mzp9K+pKqS6bYTtumsbeRv9uJT/MVj7JXujVVWj5t0axvtTRLaytpJ5cltsa5x
7n0Hua6J/AfiubZ/xKG+UfxSxj/2avdYbeG3TZBFHEv92NQB+QqarUEiZTbPFYvh74n8lf8AR4F4
+6065/Tisu8+Gvi24uv+PFdv97z0x/6FmvfqKXs1e4KbR4za/DTxLDCnz2Xyj7vmn/4nFU73Rta0
f/j9sZ1T/npH8y/99DIH417jS0nRiw9oz53D+a7/ACN1+WrFh4a1rXbxbe1tJViY/NNJGVjQepJ6
/Qc17+BS1KopMbqNmR4f0O28O6TFYWw3bfmkk7yOepP+eABWvRRW5mFFFFABRRRQAUUUUAFFFFAB
RRRQAUUUUAFFFFABRRRQAUUUUAFJR2rn/EXiRNFRIokWS6kGVVmwFHqf8KTaSuxpXOgoryHVvFni
Ke1laG+8hthZfJjUdPcgn9a5TR/iR4otNQTzdRa5TPzR3CqQfyAI/A1EasZbCn7jSfU+iqSvMz8W
0t7JZp9GZm6fu5xj9RkUy0+Lv22ZootF2nbu+a5z/wCy0/aR7l+zl2PT+tHSvLdS+Keo2SI6aRAy
sdvzSt/hSaf8Vb69R/8AiV2ysvX963f8KXtYdx+ylvY9TozXlmoeK9W1VPK3rbQN95Yc5PsWPP5Y
rifEGmPdwo6bt6ud3zdQf/1Vm8RG+g/ZM+iAy/3qdXzfodu8Vq6fdeM7lZeDg89frmvTvAXie5u7
mXRdRlaWVU8y3lZssyj7yk9yMgjvjPpVQqqTsKVNpXPQqKKK2MwooooAKKKKACiiigAooooAKKKK
ACiiigAornfFuoappuj79LtvMmdtrSseIR/ex1J7Dt6+h8h/sN3d3l0uCVmyzM2SSx5LE45PXr60
rgfQFFeAL4f/AOoRB/36yP5UreH9/wDzArbf/swH/wCJouB79RXgDaBNKn/IFg/79N+nymm/8I3c
7/8AkCwL/s+U5/DhaLge73t9bafbNcXUqxxL3Y9T6D1PtXlmpX76lqEt23/LQ/Kvoo4A/Ksmzs30
/wD1ultAmDtaOJlXnoSxFW0auOvNvQ6KSW5duNGu/wCyftzovkMv94Z54HFeTK3lah/uv/WvRXuH
2P8AO23+72rzSVv9Nf8A3/608PbU58X9k6i8VH0z/dIb+n9aq6M2zU4vxX9KkZ9+nyp/sVQ02TZq
EX1/oazaPRg/dOm1pN+nv/skN/T+tZ3h1/31x9BVnUpP+JfL9P61l6C+y6l/3P6ipSdgT907KF0r
Rt4bF7KV5Zv3qodse33ABJ98n8qwbeXfVLWribZsi/8AHfpUWuRclhdPtVxs+5x9O9Un1S40rVre
+tX2zwncrdvQgjuCMj8ah0zzkSV5f4sf1qOSCa9vYra3RpZZCFRV6kngCtqaszOb0PQLb4ga5cWq
vvtFc/8ATA4H/j1VpPiB4iX/AJftP/4DaN/Vq6DRvhhZWlsn9pXc08mPmjjby4we4GOT9cj6Vu/8
IRoB+9Zu3/beT+jV1xUluc8muhwEfj3xFL/y/RLxu/49B/Wll8Z65s+TXJN/91bFP6qa9BHgrQP+
fH/yK/8A8VUo8JaGv/Lgv/fxv8ask8zPi3xE23/ie3f/AAGzhH/stDeKvEu//kNXv/gJD/8AE16c
PCmif8+Cf99N/jSjwxo3/PhH/wCPf40AeWN4s8Rf9B3UP/AOH/4ivVvD9zNd+HtPuZ5Wllkt42eR
gAXbAySAAASc8AAU3/hGdF/6B0P6/wCNaFvbxWkCw26LHEv3VXoBTAnooooAKKKKACkApaKACiii
gApDS0UAFFFFAEUkaTRsjorIwwVYZBHoRXmfivQP7Fm+0WqN9hk/8ht6H29Pyr1GopYYriF4pY1k
iYYZGGQR6EVEoqSsyk7HhEsmyB3rgj891/wP+tfRt58PdAu922GeDd/zxlOPwByBVTT/AIW+GLKZ
Zmtprl1O7/SJcjPuBgH8aiFLlJqe/Y8msdB1nVYHWwsZp+P4V4/EngH2zVuw+HfitLlJn0iRdv8A
enjH/s1fQEUMUEaxRIkaL91VAAH0AqWq9mi1UaPDbjwD4quYXT+zlXd/enT/AOKpun/DLxPbu+63
gXcP+e6/0r3Sij2aD2jPF5/BHiTT4fN+zpOv8SwtuI/DGT+GawrmT986SptlX5WVuMHvn0r6FqB7
W3lffJbxs3qyAn86mVFPYaqNHzuEmuH8m3haWVv4Y1JP5CvS/APgqbTZv7X1RNt1jbBC3JjB6sfR
iOMdgT68egpEiD5VVfouKdVQpqIpTuLRRRWhAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAJRWZea9pdg2y6vYUcfwbtz/wDfIyaqweL9DnmWIXyqzHC+YrID+LACs3OKdm9R
2ZvUUgNLWggooooAKKqXeoWlgm+7uIoV9ZGAz9K5y++JPhXT3CT6i25v7sDn/wBlpXQ7HXUVz2le
NPD2sBPsWoxnzDtUSK0eT0wNwGT7V0NFxBRRRTAKKKKACiiigAooooAKKKKACiiigAooqOV/Kid/
7qlvyFAElFeZD4maps/5BOnL/wBxDP8A7LSH4l6p/wA+Olr/ANvhP/stAHp1FeXH4map/wA++kr/
ANvJNRt8TdU/u6Ov/bRj/WlcD1WivJm+Jetf39FX/gEh/wDZqiPxL1z/AJ+dE/8AAaU/+z0wPXq5
Hxdrr2qDTrOXbcSD9669UU9h7n9B9a5W3+IOs3HyfadN/wC2ds4P4ZYiqLSPK7zSuzMx3MzdST61
zVqvLojanC+rIPI2P+NJeRI6PU0h/nVe8m2I9eTVv7RHV0MbUZ7uLTH8q7uYkUjasc7rj6YNP8N6
pqnk3CLq9/1H3rpz/Nqq6o//ABL3+o/nTPDL/wDHx+Fend+zY0lyF3xDf6iiRP8A2je9T/y8v7e9
WvD+r6u+n/8AIXvfvlf+Plj/ADNUPEMn+hJ/v/0NJ4cl/wBCf/rp/QVjzO24WXKdEweV/OuJmlb+
8zEn8zWJrWlpd+U/93K/5/Kt0OmyqGoXiW6fc+84X8Oc1F3ch2MnT7RItMeH+65/XmvXfAGvvrGh
fZrh915Zny33Hl1/hb8uM+oryWzuvNhuH/6af0FUra7mtNT327yRP/ejcqfzHNdFKTTMpxTR9L0V
873Gr6+7/Jfat/4HOP8A2aoDqPiL/n71b/wYP/8AFV2JnMfR9FfN5vfEX/P3qn/gwf8A+KpPtfiD
/n41L/wYP/8AFUxH0jRXzb52vv8A8vN7/wCDB/8A4qjdrv8Az2u//A5//iqAPpKivmzbrX9+f/wL
b/4qvfPDNrLZ+GdMt5/9clsnm8k/OVBbk9eSaBmvRRRQAUUUUAFRzR+bA8X95Cv5jFSUUAcIvwu0
hf8AltL/AN8r/hUo+GOjf89Z/wDvlP8A4mu2ooA4wfDTRv8Anrc/+Of/ABNPHw30P+9c/wDfS/8A
xNdhRQByY+Heh/8ATz/32v8AhTh8P9C/uT/9/P8A61dVRQByc3gDRnT9158Tf3lfP6EVxWq6dcaL
f/Z5/m/iSTs49R7+o7V7BWbrGj22tWDW1xx3R16o3qKyqU1L1LjPlPG5Jv3341Wv5/krqr34c64k
ubW5tJ0/2iYz+WCP1qiPhr4huJtsr2kafxM0pP5ALzXBLDSc1ob+1VjhL+ffp7p7ipNBk8qCX/aN
eqxfCDRmgRLy+vZW/i8tljBPsMEj860rb4XeF7RNiW1y/wDvXL/0Iru9l7the3SVjxvWpke1T/f/
AKU3Q50S1f8A3/6CvZLj4W+G7kfMl2v+7Of65qxbfDbwvaR7VsWb/aknk/oQKj2Glhe30PNIbhHq
jqcKXaJD77q9Rv8A4baTKn+gSz2Lf7xkX8QTn8jWN/wrC+35/tSD/v03T6ZqHh2tg9omecpGllC6
f3jursfh54QTV7l9W1KHdZxttijYcSuOpPqo/U/Q1v2nwqtvtSzalqL3Cj/lnEnl5+rZJx9MV39v
BDaW6W8EaxxRjaiKMBQOwFa06dtzOcr7EQ0ywX/lxtv+/S/4U4WFp/z6Qf8Afsf4VZorczIPsdv/
AM+8P/fsUv2WD/njF/3wKmooAi+zw/8APGP/AL5FKIYv7ifkKkooAZ5af3F/75p2KWigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooo
oAKKKKAP/9k=
"
     id="image3047"
     x="-32.453388"
     y="3.5084746" />
</svg>

{{=grid}}

