{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Circuitos Integrados </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3039"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="270"
   height="160"
   sodipodi:docname="circ_integrado_f.jpg">
  <metadata
     id="metadata3045">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3043" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview3041"
     showgrid="false"
     inkscape:zoom="0.99038462"
     inkscape:cx="156"
     inkscape:cy="103"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg3039" />
  <image
     width="312"
     height="206"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCADOATgDASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD3+iii
gAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKA
CiiigAooooAKKKKACiiigBGUOpU9DRS0UDuFFFFAgooooAKKKKACiiigAooooAKKKKACiiigAooo
oAKKKKACiiigAooooAKKKKACiiigAopD70maAHUUzOKM07APopgp9IAooooAKKKKACiiigAooooA
KKKKACiikNAC0U3NGaAHUU2lzQAtFJmjNAC0UmaTNADs0U3NGaAHUUgo70ALRRRQAUUU1jigBScU
m8eoqCRiOlQGQ5pgXt49aRpFUZJA/GqBlIHavL/i5q0c2j29vBdDcJjvEb85oA9dE8X99fzpDcRD
rIv518by3Co217iQf8Dak3SN83mu3/A2o0A+yftMXTzF/Ojzo/7wr43WSWNt6Tyo6/xK7K1L9t1V
j8uq323/AK+X/wAadkB9im4jBwXUfU0faI/+ei/nXxy8s7tulnldv7zyMzUzdJ/fk/76o0Cx9lC4
i/56L+dSo6uMqQa+MWaT++3/AH1XvHwT1OFPDNxazXC+aLo7VLeqrQ0gPWKKKKkAooooAKKKKACi
iigAooooAKac06mk5NACUUfWlpgFFFFAC0GkpaQCUtFJmgBaMUlLxQAZA9qWkoFAC0UUUAFNenU1
qAK8nSqxHNWZKqu4XNACMyopLHArw/4hQTx6bB5qmNvtEjmMjpn7vPevYLq6Ko74yFBNeK+NNSTU
NHt8O8kq3Ds7k5bHGF/nQM8+dPm3eUj/AO/SKu2NV/u1NUbL81AEbN/E1Reeu7+KluVb5cfdqp/F
QM0VbzPu0bc1FEv8VWPu0AIq16N8L3vmkkigWIWyTI8srt93H8K153XoHw5vfLiurfY7O8qbdi0A
fQlpL5idas1R09QEHPar1BIUUUUAFFFFABRRRQAUUUUABpvGacabQAlFFFMBaO1FLSAKKDRQAhbA
qB5CvrUr1WkNAC+e3v8AnXIeM/G0ugaQ1xp8Uc86XS2zrLkBWZGcemeF/Wunkk2jA+8eleV/ESVL
IfabaSSRUu1+1QM52eYYzsbb0zhWGfamgMRvjJ4s3cW2lhf+uEn/AMXVi6+MfiVbQLDbWImB5fyW
YH227q5JvEsrbR9lgWkk1u+ibakccm7/AHqYzePxj8abC23Th/26t/8AFV6xofjq1u9H02fUS8c9
0hLOkR8vIPJ74H1rwC88R3stq0TRxKv+yrV6N4HvLaHQtOR4beS7eSVUJU7wn3ufX71TcD2iKaOe
JZInV0YZDKcg05ulYulMIk2xKFQnOB0zWzncuaBFeVsCsyeQ5IrQn6Gsub71AFK5fy4XcnAAya8f
8bSRTaclyqxCV5nVtny7lX7tewXaJNbyRSoGjcYdT3FeN+MLK2g05ZrTetu0xRUdt21l/u0DOHak
o+796msKBgy7lqD7N81WMtS0ANX5V20fxU6lagBVWu++GkyW7XxZgrtt27mrg1+Wu8+GtuktzeSP
Er+SFdd396gD3zTgwjXPWtCs7TGYxrn0rRoJCiiigAooooAKKKKACiimucCgALqOpphkGOtVpWJO
ATWVqmqf2cLbfws8wh3/AN3OeaYG75gz1FKJFPevm5vE9zkl9W1PeTk/6VKv9aqyeI79p9665qqr
/d+1S/8AxVA+U+nAwPelDZ6V84L4xu40CDU9VIHc3Mn+Nb/gvx7fWj6k93Lc3w2KYluJzgHPTnNI
LHuOc0tYOl+KLHUjGm2WCVxlUlTGfoRW4GB6HNAhG6VVmIAJNWXNUbluCBQBXaVQSTyRXl/xJWeD
SZ+YHhu72OXODvUrGQF9Mck/nXozjceR0NebfEGWG20fU7eW2ufOuLy3kik2/usKpH3vXLH8xQB5
Sy1o2esfYrN4orOJp2Vl89/m2/7q1JbSrFbLuZl3N/d/+yqC0fbdy/vPmbcqtH/e/wBmgoyrn/Um
vVvBgebw9ZT3EzsLcvFEnlbW52/dP/Aa801ZW8v5yzPt+bd96vRvB7yyaTppWORQkkpP7xdjtgKO
PUc8+/buAem+HIJYBI8ksrCQ5WN2yErqVOVrE0xgYkzjdjnHrW0v3KCStP0NZc3WtSccGsuYc0AU
byIXFrJDvZN643L1FeOeMLSW0tPKku1uIBKWQj+9/FXsd35v2aXyNvnbfk3dM1454u+2xWP2a5tf
K2Tl927du3bf/iaBnE/dqNqezVHQAmKdGNzKtJGu6RdzbV3VoeTaLJ5fzL8v+s3rQMlitEkSRVX/
AFf3t26qM8fkzbVqeOWdv9XGzf7S7vmqCfzFlbzVZW/2qAEX7tdx8Oo991dL5rRDau5lauFWu5+H
fmtf3aRBWZk/i/hqhHv+ltuiXitKszTGUxrgc4rTqRBRRRQAUUUUAFFFFABTJOlPqN6aAqS4BrC1
i+EH2eNkLJM5jJHUfKef0rWuXxkVzmuzQtDGruUuB5jWzb9mHCN3/wB3d1pAeBQiNovmX5m+7VbH
zVKsu22VVVW3f3v4ahoNIlhX/cN838P3a6XwVqC2K37/AGcS/Ivyn/erm4t3lNt8zd/u/LXReDRZ
bb77XI6p8vSpEepaHdx3ahhKpkz9zd938K7S1Ziq5NcLotnB5yXSRKMH5DXc2hJUZqiC1IRjmqNz
0NX3GRVC4HBoAzWBJIry74i3s8tld2UggZILuCRC8oSRQUPCL/GN3U844443D1FicmvMPiXe2r2j
25hC3Md1Eu/yc+YCC3L9gNp45zjtigZwED3aRbYIm2s33lXdSWnmfbWZl/eLuZlZaktHj8plf5tv
3V2/dqBWb7SzbW/i3KzbaBkOqNuh3f3l/hrvfAVxPFplk0slt5ZmmBWOTdNtCA8j09D9K4TUlZbf
5t27/aZa77wHqgutOsLdo5W2yvG2YtqDam7O7u3tQI9g01VMaOp6jPNbK/crE01fkVgQVPIIraT7
lAivN0OKy5+prVnJway5+CaAKV05it5JAhcoMhF6mvGvGGofabFY3eV5VnO7erblX5dteyXMyQQP
LI22NBkmvKfHE/2vTBckIjmdk2ov3lXb81IZ5u33qP8AgNOqNqYx27bVyLUFVdska/7yqtUf4amW
0nkVWWP5W/vNQBfspV8pmZdvzfeX5f8Ax5mqte/67cvmbW/iZt26ljjkVWgeRVbd91l3NTbtWVo1
3M21f4o9tAEK123w8m2X10u05aLaNi/xVxC13fw1ZV1a7O5crFuWgR75paqIlwe1alZelKfKU57V
qUCCiiigAooooAKKKKACoZjgHFTVFIARTQGRcnJNcp4sszcaTLMkux7aKSVRtzn5Grs54Aea5nxJ
oV3f2pksZlS5jjlVFZc7t6YIz2pAeBQ7vs/y7v8Avmq+2uguPCHiO1Ox9OmAXurZrOk0bUo2+azl
/wC+aCyusa+V/D93/gVdJ4O057uC82uiL8vzN/n/AGawl0bUm+7Zy/8AfNdT4X8P3zWd1HMvkbmV
lZ91SSd/4etpLeQP50rR42hGPB/2q7q1OVFcZoBnz5cpR4k+VXHVjXaWpGBiqEWX6VQuBwavv0rP
uOhoAz2OCeK82+I0EJ0u+uLe4k87zrdbmHzAFxk7OO569M969JbgmvPPiFHcWuhatKIoXhvJbXDm
Q7o/LbPC7cc5/vd6EM8uinWJWXdJ/ur/ABUxJljn85V/3VqJqKBjr2fz42bb83+9XpXgpEn0Sw/1
yxRuVH77cGZ0P8G70D87ezV5fJ9xq9H8CJP/AGbYg3HmKrs0cWfurtI/9nf5fegD13TQVQKBhRwB
W2v3KwtLfEapycdzW6hylBJXnPBrMnPJrTnPWsuYcmgCnMqyRsjgMh4II615L45srFLM3VmjqrS7
Of4Wr1tz1FeWeP7SS205kS43wtLv+6v3qBnmbU2kaiqGFaEEfmQRs3l/Kv3mX7tZtXINrW6bomb5
vl2/xVIE6bvtMjLJHJIv3d1R3ax/eV9zf3dtPaRo7n5Y413L/wA9Nv8A49TLuaR4l3NF977qtuoJ
Ky/ertvh0iPq0+9N6rFu21w6123w5DtrU6rJtXyju+X+GqGfQGk7vKQ9scVr1j6O58hO4C1sUhBR
RRSAKKKKACiiigAqN+lSVHIaEBUmqu3IqxLVc/WmBDJCkgwRWPe6DDcMTtIPqtb2OaAtIDlYvCka
vu3SVej8PApsXzAvc10MaE9atooAoAxrTSEgAABwPateGLYBwfxqUGlpgMc8dKoXHQ1oOMiqc8ZI
OKQGU4+Y5rznx8fL0nW/MaUCQWyxD59jHflu23oB1r0uS3cE4Ga81+I17LHp2oWU7KIyIPJQxuCW
3/Nhvu9PWgZ5RRRupu6gBk33Gr0jwL9pTQ7aNhmOS7WUbm6YiYfqzJ+VebSNuWvRvBd1ImgRmJC0
iXAjz/Aqbec/3u33aJAev6YwMa7sBu+K24+ErC0zY8asOCeoJ6VupwvFAiCboazJvvGtOboay5+S
aAM++8428gtyom2/IW6ZrybxqLiHTGtprd0dbhpWbcu1lZa9cnBETlRkgcD1rybxze+fo7LNNm5+
0lVT5d2zb/8AFVMhnnP3mprfK1L92mtWgDd1XbSaNYtrTtH83zf7tZzusQzVVrh2PFSButdQeesn
zN8v8XzUT3sckTRqrf7zKtZENxubDdas0DHr/eruPhvO8Wtzqib2eAjrt21w6tXZfDmVE12ZWb70
TKtUI+htHcGCPjnHatisXRcfZYvXbzW1UiCiiigAooooAKKKKAEpj8in01hxTQFSRSegqAxt6VfZ
R3FM2igCnsNSJF61Y2gdqUDHagBFXaOlP70maWgBwOKXNMzRnFADm6VE9PJ4qKQ8UgIW6mqd7ZW9
9EY7iJJEPVWXNWWPJzTetAHF3vw+0J8mPS7RT6eUtY8ngaGNGhjsrbyWbd5flrtr0kgHrQsaZ+6D
QB57aeBrNOX0zT/+/S//ABNbNr4fMbIqRQxQp9yOMbV/IV2EdvG2DtX8qsCJFHCj8qAMuzs2iAzj
8DWqvyjFOAA6AUjYx2oArTng1lzH5jWlP0rLnPzE0AV3GRXlXxAuVudLab7OEZZ/IZs7v4d1epue
teReP5rIq8Vv9o+V9x+9sZ//AIqgZ52zU2lZvlpu6gZBcj5apmr7Mu6ojEhPSgRFArNIpXtV9agT
ag2ipM0AS12fw6cJrsjnb/qm2s1cTvrs/hyIn1yQyrvCxM23+9VAfQ+ijdaxN/eXNbdY+iIFto9u
Nm3itipEFFFFABRRRQAUUUUAFIR70tITQA0imketONNJ9aYDe9AFKaQdelAC4o4pMUUAFOpOPWkp
AB4FQyelTHpxTGAagCkx5zzSZq2YgaTyRQBVAOamjj5zUojUVIFxQAgGKd+FH40UALSEZooxQBXl
TNZ09uSTitVxVWTNAGTJaOe9eV/EXQJ7Gxa68zdEZN3TbtavZDmqd7p9pqEHkXttDcRnny5UDr+t
Az5QZ/4aYx3V9Eap4N0h8mLSbJf922X/AOJrAk8K2Ubf8g21/wC/K1QHieKXNey/8I3Yr93TrX/v
ytJ/wj9p/wA+Vv8A9+VqRHjuabmvZP8AhHrFf+Yfa/8Aflamt/D1lu+axtf+/K1QzxXiu++FsAut
fmUj5VhavSLHw1ZSSL/xLrXb/wBcVrqbDRbW0fdBaQQnuY41WgDZ0oFIUTsoxWpVe1hEaDirFSIK
KKKACiiigAooooAKKKKAExSFadRQAzZSbKkooAj2egpAhqWigCLYaXbzUlFAERSjZUtFAEOw+lBQ
mpqKAIfLpdlS0UARbOaXZUlFADdlJsFPooAgdOtVJE5rRIzUMsfWgDPK00xmrpipPK56UAUTCD1G
ajNsh/gX8q0TF8vSm+V7UAZ/2SL/AJ5r/wB80fZIv+eSf981oeRQIqAKAs4f+eSflT4rCIniJP8A
vmtBbck9KsxxBB0pgRQ2qRj7o/KpwqjoopaKQBRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFACYHpS4FFFABgUm0egpaKADA9KTA9KWigAoo
ooAKKKKACiiigAooooAKKKKACiiigD//2Q==
"
     id="image3047"
     x="-1.3980565"
     y="-33.320389" />
</svg>

{{=grid}}

