{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h3> Cristales de Cuarzo </h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3039"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   width="260"
   height="195"
   sodipodi:docname="260px-Osciladores_de_cuarzo.jpg">
  <metadata
     id="metadata3045">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs3043" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview3041"
     showgrid="false"
     inkscape:zoom="1.1884615"
     inkscape:cx="130"
     inkscape:cy="97.5"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="svg3039" />
  <image
     width="260"
     height="195"
     xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCADDAQQDASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD2mikr
C13W5rJWt7BEkusZYufljHbPqT2FS2kijeFFed6H48nguzaa31ZsLOFwPyr0CGeKeJZYnV0YZBB6
0lK4NEhoooqhBRRRQAUUUUAFFGaKACiiigAooooAKKKM0AFFFFAAKSiuQ8WePLHw9m2h23N+RxGD
wn+8f6VM5qCuyoxcnZHXk0ZFeBX3ibWNZlMt1dyBTyI4ztRfoKn03W9R06UPb3Ug55BPB+orhePi
pWsdiwUmr3PdqK5Pw540ttV2291tguu3Pyv9PSusFdlOrGorxOSpTlTdpC4ooorQgKKKM0AFFFFA
BRRiigCOV/LiZ8FtoJwO9ef6Z4l+xyzQ6xArQXTmRpVH3Sex+nA/CvQ65/XPDUGoq0sIVJyOQR8r
/X/Gs5p9Co2MLXfDNteW/wBotissTjIdecVz+mazqfhS42uGnsieQT0q7ZXWo+Frh0RWkts/vbaT
t7rXQiPTfE9o09lgnGXiOAc9wfQ1mU0b2k61ZaxarNayq2RkrnkVpZryK40zUPD92bvTGdNp5Qj+
ddp4c8YW2rqILjEF2OCrHGa0jPoyWjqaKSlrQkKKKKACiiigAoozRQAUUZooAKKKM0AFAopCaGB5
r4++If8AZksmj6QwN5jEs46Rew9/5V5XFG9zKXlZmZjliTyxqjrF1nxFqErNuLXDkknr81S2WofO
FByCcV5Vdyk7s9OjBRRriVhOlvDsHdyV6Ux41u5sxzCSNBygOOfWp3TzFHJUjkEDpVE+fZTJ82UU
Yxj/AD/gKz5FJGjk4li01NDMsab+OjZ/nXqPhPxpny7DUn7YjnJ/Q/415tCkDwm4WHy2Y5IxjJqW
Fz2rFVHRneJq6arRtI+hAQVyD9DS1wvgjxKbhRpl22XUZhYn7w9K7rNe1RqqpHmR49Wk6cuVi4oo
pK1MxaKDRQAUUUUAFGaKM0AZ2p6Tb6pFiUbZFHySAcj/ABFcDf6Vf6JfLPbMYbjOVcfckr0/NQXN
rDeQtDOgdG6g9vcelRKFylKxyema1aeIP9FvQtrqCjAGeH+nrWHrHhS4S/3wny5ByjIOp9v8Kva/
4Xe2YTRFmiU5WRfvR+mf8a5vWvFur22lf2SwWS4dgI7jOGVe5/8Ar1i+xZ1PhTxLfvqY0a9RZXXj
zA3zLgZ5Fd5XmfgXRrnQ7RtQuoRLOSyynfucLnO4/X16EY6da9Cs763v4fNt5Q69x3X6jtWsDN+R
aooFFaCCiig0AFFFAoAM0UCigYlLRms7VNYtdKiBnctI3CQpy7/Qf16UCLryLGjO7BEUZJJ4Fcdr
HiK/1WK5sfDi/vAhzeOPl+i/4ninC11XxRMWuybaxUgxxKflb3P94/pW5DomkadaN/o0KxqC7ySA
c+pJ/wAOKTV9AvZ3Pn2TwJrOsTY0yxf90W+0TzvsjDA8/Mev4VhQQtZag0ErRu8LYZo3DIcehHBr
1rxT4m/t21k0vTd8WmY2u0Y2lvT8O+O9Z+gfCebVLQtqkr2sO3920Y/eP6Eg9B+tcc6bXuo7KdZP
VnJRalCW25GenWrypFc7d6hgOmR0rn/EOiN4Z16fTnuI5/KPEkZ4YEcZHY+oq/ZXgEKnOePWuWce
U64NSNS5cIwUdMdB2pIHUOC3IzkgHrVMS78k8k1o6XpN7rFwsFpA8jHrgcD3J7Vycspy0OnmUY6m
1pv+n+Irf+yYHg2upUFt2MdST+de0KPlHriue8MeF4dAtctiS7YYdx0HsPaui+levhaLpx16nk4q
sqktOgtBoorrOUKM0UGgAzRRmigAooozQAUUUUANKh1IIyCMEEVz0ng3SZdWGoOjsVIKxEjYCD/n
iujzRmk1cd2ZN7ZzwOLuw4cctHjhx3H/ANb/ACacdrBf5u9Nl+yXi/fQdCfQj+tdDWVfac4l+22P
yXK8lR0f/P6/qJaBDbfWTFKttqcQtpicKxPyP9D2rXBB/Gsu2ubXWbV4J4RvXiSFx90+oqAW19pH
NqWubQdYWPzJ9D3+n6UJgblFU7LUbe/TML/MOsZ4ZfqKuZqk7gGaM0ZopiCkyBzS0hAPB5FAHNal
4kd5fsWjp9ouCdplxlF+nqf0p2meGsS/a9Tc3N03J3f19foOK2bXT7Wy3fZoEj3HJ2io9Q1OGwQB
svK3KRr1P19B70CJ7i4gs7cyzuscajknt7CuO1Qah4vc2UAkttNByxPDSehPoPb2rVh0+51eZbm/
YeWDlEH3V+gPf3rcVYLO3P3I41GSScAe5NAbmFongzTtHVXI8+YHILj5VPsKy/iDrV3aWL2NhdRQ
SOmXYN+8GT0Hp9auaj4hur1vs2ioxDZHn46/7o/qeKNK8F20F0b3UWa6nY7gsh3BT7+ppNX0BPXQ
8cHw71/WYYriw09yDy8kjhQ/uMnmpIvhp4vglVBpxIJ6+amB+Oa+ilACgAAADAApaweHT0Z0LESW
x5XoXwsn+SXWLlUA5MMByT9WPT8K9I0/TLTS7cQWUCRRjsB1+pq5RVwowh8JE6sp7hRWJrfirTNC
wtxKZJz0giG5/qfT8avaZqlrqtktzaSh0bqO6n0I7GtTPQvUUUUAAoooNABmikzRQMXFJS0YoAMU
UUYoEFFFFABRRRigDK1HTDLKt5any7uPoR/H7GpNP1EXe6GUeXcocPGf5itHFZ+oaf8AaP30LeXc
qMpIO/oD/n/Cpa7DuNvdJhu3E6Ew3K9JY/6jv/OixmvhMba9h3FRkTp91ue/v/n3qSwunuFkimQp
NEQHGOD9KvYoSC4YoxRiiqEFFAooASsqHQ4Y7uaeWWSbzHLBZDnb7Z7jritaigDO1LV7XS0Hmtul
YYSFPvN+H9a58WupeJXD3R8m0Bysan5R/wDFH9K2W8OWL6lLeyq0hlIYoxyAw/XHt0rWCgLgDAAw
MUCKtlp1vp8QWFecYLk5Zvxq5ikxS0DExS5pK5TX/G1lpe+CyxeXY4IB+RPqf6CgDpbm6gs4WnuJ
UjjXqzHpXn/iTx8fJeKwf7NB0Ny/DH6Z6fjXKXfiC/1O7J1KffzlNowi+wHasXWtLudQaIpOfKVg
XjBGOvUGpuw6CfblLNMJRcq7cybsnJPc1r6VrV7od6L2ymUqxAePJKuvoR/WubvGS2vYZdPEchuv
3RLNhMr9O/aixnmR5h5TJ5bYli6444x7U+hJ9AeH/Edj4gtPNtm2yqP3sBPzIf6j3rZr5+0m9azu
je6fNJBLGcg/0x3B5r2Lwr4jHiHTTM0JiniIWQY+U+hHseaY0zoKDRRQMKKMUUAFFFFABRRiigAo
oooAKKKKACiiigAxRRRQAUUUUAFFFFABRRRQAUUUhOFycAAZJoAU1Q1LVrHSofNu5gmfuqPvN9BX
Ja74/VFkt9FCyuvBuWHyL9B3/l9a8/m1K6kuzLf3DzySHIkcdPb2FJ7Cujq9c8WX2rq9vAGtbU8E
Kfnce5H8hXHOjWDbwC8ROSP7vvUt613Jbj7I0ccuerjIx+FcnenWJNQTT5L6RpZTlTGAqhe+R1qV
uNnSSPFPEWYkp6AcGmW9y0TFHbfDnAb+79fag2k1lFvh+fAwwbv70qTQyRZVM54K+lVoydUVpfD3
muvkXTR2xlEpjABwc5yp7Zrc8hEUkIMt1IHJqhZxSWzSSltlswBAP8J9vapfOnu/ktQUQnHmEcn6
Coe5aaHQ2EHmyPzgH7gPAP0r0X4eHMGoem9P5Gsvw54GuJIvNvy0UDHcFP8ArH/wr0KzsbawtxDa
wrGg7Adfqe9WiSzRRRTGFFFFABRRRQAUUCigAooooAKKKKACijNFABRRRQAUUUUAFFFFABRRRmgA
qOYZhkHqpH6VJSGgD5vt70wSuvVVYgqTyOa0NouFJOAh55P+fWtrxt8P59Llk1PTA8loSWdRy8XP
P1X+X61x1reMjjqCOqZ6/SkS0ail7LGSz2/r3X2q2ttbSTfalVTIy48z1FVDKlxFjf8AKw5XvS28
T2CO8p2wscKuelTJDiy82d21Tu9Qe1RWVlD9qebAZgcH2pIIrvUXWKFHjVjgAD53rvvDfgMWyebq
PAbkQqf/AEI0RTKkc9a6Bc664ighzGrAvI/CL+Nd/ovhex0dVfaJrkD/AFjj7v0HatuKGKCJYoUW
NFGAqjAqSrsStAooooGFFFFABRRRQAUUUUAFFJS0AFFMeRY1LMQqgZJPauZ1LxfFA5Sxg+07TzIX
2oPoe9K4WOpxRWDpHiW21FhFKDBcY/1bHr9D3rdBppgLiiiigAooooAKKKKACigUUAFFFFABRRRQ
AhAKkEAg9Qa8y8Z/DlZ9+paLEFkB3SWy8Z9Snp9K9OzRQB87aLGftconQCRFxyPf07Gu003wvd64
qsUEVurZMsg6/wC6O9d5N4Y0mfVf7Se1U3BGGx91/cjua11UBQBwAMADtSsK2pmaRoNjo8QFvGDI
RhpWGWP49vpWrQaKYwoooFABRRRQAUUZooAKKKKACiigUAFZ2p6tb6XFumJLt92NerVo1xvjYXMf
kXEVrJNEoKsyjiPnqe+KTGjL1LV7rU2PnN5cJPEKng/X1qgsFvcukV20kdoT84hI3MPc+n0/OoAx
kw+7fu7jpWZBq8+9xc2zRKpAJz93PQH36dM9azLsdheaIEt1uLJjcWijKtGf3kXH6irmk+JXtNkG
oN5kLHCXI/k3pXP2GoXFowuLGb5WGcZyjj6VsIbLWcmEJa3xHzwN9yWhOwWO4jlSVFdGDKwyCO9P
rzuC71XQ7tVgBaAH97ayfeUf3kOeR7V3lpcLc28cyHKuoIOP6dq0TuQ1YsUUUUxBRmiigAooooAK
KaSBSg0ALRRSEigBaM1m32tWOntsmm3SnpFGNzn8B/WotPvNQvbou9mLazx8vmNmRj246D9aVwNe
ik6LSg0wA0UUCgAooooAKKMUUAGaKMUUAJiilooAKKKMUAFIRmlooA5XWPB9vclrjT2FpcHkgD5H
PuO31H61xWp6c8T/AGXUbcxyc7Seh46qe9evYFVryyt723MNxCkiE5ww6H1B9alxKTPE/s2o6e6t
bHzo/myp7nsT+g/Drjpq2ztcoHMUkRU8Fhgj3HftXR6n4dvbS9WKxtXuoHHDFwNh9DntVm38HTjF
xeypOynP2ZDsT/vrqT7/AP66izKuZVzf3+q6VJYQQi5ulK7bkA/u17kkdeM9P/rV3ejwpbaVbQJN
5wSML5mfvccmm6fLa7PIhRYXQZMBAVl98d/rSyWjQO89kVR2OXjJ+ST/AAPvVpEs0KKqW19Fcbl5
SVOHjYfMv/1j2NWgc1RNhaKKKACql/fQadaPc3DFY0GTgEk/QDk1bzWPr0e+3jb+FX5yOnHH+fek
xrc5y8v5fGi/ZtIuvstuhzJJJlXb6KCD6dcVjjUfFHg+6WK4El7Yk8CQlvwDnn8P0p97Ep1uJIFa
CcpuFzG20554x34Hr/KtSy8VskRi1WKO7tD8huYgGHvuH+fxrO7uXYv2Xjqy1NI1sbeeW5c7fKIC
4OOhJ46enpV97TVb/P2q6+zxt/yxteDj0Lnn8hWDf+C9M1iIXujzLEzcnYflP+H0NZVj4o1Xw5fH
T9TeO4jjIXLONw9Oc5H48dORmnfuK3Y7+y0i0sF/dQIC3JIHX6k8n8aff6paaYgNxMFZjhIwMu/0
A5NZMOpajrsQlsFFnZMSBPIA0j9jhRwOnfNXbDQrW0lM2HknYfPNKd0jfU/0FV6ElL7VrWsOVtov
7Ots8ySAGVvw6L+tbtnAba1jhLvJtGC7nLN7k1MFAUAcAdAKdQk+oBRRRVCCiiigAooooAKKKKAD
NFFFABRRRQACiiigAooooAbgUuKWigCrc2cNyo3LypyrqcMp9iKhg+2xSrDMPNiOdswwCPZh/Ufk
K0KSiwFaaziuHilYFZIzlHU4I55GfQ+lWFGFxTqKAuFFFFABWbq9jLf2hihmMbg5HofY1pUUAeU3
U507UlTWbVoJF+WK7QZXHuOncjPuelZ8lte6Zturd/Ph8ssvlkmMhUAJftyE/M8V63fafbajbmC5
hWSNhggjp9PSuD1HwhqOhu9zoMpktzy9tJyPy/wrJxaLTMxY7oaZJdWUrxvmSOSOBzGsm1ipK4+6
TjPpXJaXod1qF351ozzKxP7xuOD1De/YiuuttfshD9muE+wSIMeWynaPpiq9pqN1Iw03QbRjGzMZ
JynqecD/ABpFHV/DWC6tNCntbk58uYlOegI6f1/Gu2rP0iyWw0+OIBskbmLDBJxzkf56VoVojNhi
iiiqEFFFFABRRRQAUUUUAFFFFABiiiigAooooAKSlooAKKKKACiiigAooooAKKKKACiiigAooooA
KTApaKAMu/0DTdRbdc2kbt/eAwasWGmWmnReVawLGvsOv41copWQXYYooopgFFFFABRRRQAUUUUA
FFFFABRQKKACiiigAoNFFABRRRQAUUUUAFFFFABQaKKACiiigAooooAKKKKACiiigAooooAKBRRQ
AUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB//Z
"
     id="image3047"
     x="0"
     y="0" />

{{=grid}}

